@media (max-device-width: 480px) and (orientation: landscape) {
    .navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }
}

@media (max-width: 767px) {
    .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
    /**/
    .main-menu .navbar-nav .open .dropdown-menu > li > a {
        color: #777777;
    }
    .main-menu .navbar-nav .open .dropdown-menu > li > a:hover,
    .main-menu .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333333;
        background-color: transparent;
    }
    .main-menu .navbar-nav .open .dropdown-menu > .active > a,
    .main-menu .navbar-nav .open .dropdown-menu > .active > a:hover,
    .main-menu .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555555;
        background-color: #e7e7e7;
    }
    .main-menu .navbar-nav .open .dropdown-menu > .disabled > a,
    .main-menu .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .main-menu .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #cccccc;
        background-color: transparent;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    /**/
    .vol-pt-1,
    .vol-pt-2,
    .vol-pt-3,
    .vol-pt-4,
    .vol-pt-5,
    .vol-pt-6,
    .vol-pt-7,
    .vol-pt-8,
    .vol-pt-9,
    .vol-pt-10,
    .vol-pt-11,
    .vol-pt-12 {
        float: left;
    }
    .vol-pt-12 {
        width: 100%;
    }
    .vol-pt-11 {
        width: 91.66666667%;
    }
    .vol-pt-10 {
        width: 83.33333333%;
    }
    .vol-pt-9 {
        width: 75%;
    }
    .vol-pt-8 {
        width: 66.66666667%;
    }
    .vol-pt-7 {
        width: 58.33333333%;
    }
    .vol-pt-6 {
        width: 50%;
    }
    .vol-pt-5 {
        width: 41.66666667%;
    }
    .vol-pt-4 {
        width: 33.33333333%;
    }
    .vol-pt-3 {
        width: 25%;
    }
    .vol-pt-2 {
        width: 16.66666667%;
    }
    .vol-pt-1 {
        width: 8.33333333%;
    }
    .vol-pt-pull-12 {
        right: 100%;
    }
    .vol-pt-pull-11 {
        right: 91.66666667%;
    }
    .vol-pt-pull-10 {
        right: 83.33333333%;
    }
    .vol-pt-pull-9 {
        right: 75%;
    }
    .vol-pt-pull-8 {
        right: 66.66666667%;
    }
    .vol-pt-pull-7 {
        right: 58.33333333%;
    }
    .vol-pt-pull-6 {
        right: 50%;
    }
    .vol-pt-pull-5 {
        right: 41.66666667%;
    }
    .vol-pt-pull-4 {
        right: 33.33333333%;
    }
    .vol-pt-pull-3 {
        right: 25%;
    }
    .vol-pt-pull-2 {
        right: 16.66666667%;
    }
    .vol-pt-pull-1 {
        right: 8.33333333%;
    }
    .vol-pt-pull-0 {
        right: auto;
    }
    .vol-pt-push-12 {
        left: 100%;
    }
    .vol-pt-push-11 {
        left: 91.66666667%;
    }
    .vol-pt-push-10 {
        left: 83.33333333%;
    }
    .vol-pt-push-9 {
        left: 75%;
    }
    .vol-pt-push-8 {
        left: 66.66666667%;
    }
    .vol-pt-push-7 {
        left: 58.33333333%;
    }
    .vol-pt-push-6 {
        left: 50%;
    }
    .vol-pt-push-5 {
        left: 41.66666667%;
    }
    .vol-pt-push-4 {
        left: 33.33333333%;
    }
    .vol-pt-push-3 {
        left: 25%;
    }
    .vol-pt-push-2 {
        left: 16.66666667%;
    }
    .vol-pt-push-1 {
        left: 8.33333333%;
    }
    .vol-pt-push-0 {
        left: auto;
    }
    .vol-pt-offset-12 {
        margin-left: 100%;
    }
    .vol-pt-offset-11 {
        margin-left: 91.66666667%;
    }
    .vol-pt-offset-10 {
        margin-left: 83.33333333%;
    }
    .vol-pt-offset-9 {
        margin-left: 75%;
    }
    .vol-pt-offset-8 {
        margin-left: 66.66666667%;
    }
    .vol-pt-offset-7 {
        margin-left: 58.33333333%;
    }
    .vol-pt-offset-6 {
        margin-left: 50%;
    }
    .vol-pt-offset-5 {
        margin-left: 41.66666667%;
    }
    .vol-pt-offset-4 {
        margin-left: 33.33333333%;
    }
    .vol-pt-offset-3 {
        margin-left: 25%;
    }
    .vol-pt-offset-2 {
        margin-left: 16.66666667%;
    }
    .vol-pt-offset-1 {
        margin-left: 8.33333333%;
    }
    .vol-pt-offset-0 {
        margin-left: 0%;
    }
    /**/
    .navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
    /**/
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
    /**/
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
    /**/
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
    /**/
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
    /**/
    .navbar {
        border-radius: 4px;
    }
    /**/
    .navbar-header {
        float: left;
    }
    /**/
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
    /**/
    .container > .navbar-header,
    .container-rubber > .navbar-header,
    .container > .navbar-collapse,
    .container-rubber > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
    /**/
    .navbar-static-top {
        border-radius: 0;
    }
    /**/
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
    /**/
    .navbar > .container .navbar-brand,
    .navbar > .container-rubber .navbar-brand {
        margin-left: -15px;
    }
    /**/
    .navbar-toggle {
        display: none;
    }
    /**/
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    /**/
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
    /**/
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
    /**/
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    /**/
    .vol-tb-1,
    .vol-tb-2,
    .vol-tb-3,
    .vol-tb-4,
    .vol-tb-5,
    .vol-tb-6,
    .vol-tb-7,
    .vol-tb-8,
    .vol-tb-9,
    .vol-tb-10,
    .vol-tb-11,
    .vol-tb-12 {
        float: left;
    }
    .vol-tb-12 {
        width: 100%;
    }
    .vol-tb-11 {
        width: 91.66666667%;
    }
    .vol-tb-10 {
        width: 83.33333333%;
    }
    .vol-tb-9 {
        width: 75%;
    }
    .vol-tb-8 {
        width: 66.66666667%;
    }
    .vol-tb-7 {
        width: 58.33333333%;
    }
    .vol-tb-6 {
        width: 50%;
    }
    .vol-tb-5 {
        width: 41.66666667%;
    }
    .vol-tb-4 {
        width: 33.33333333%;
    }
    .vol-tb-3 {
        width: 25%;
    }
    .vol-tb-2 {
        width: 16.66666667%;
    }
    .vol-tb-1 {
        width: 8.33333333%;
    }
    .vol-tb-pull-12 {
        right: 100%;
    }
    .vol-tb-pull-11 {
        right: 91.66666667%;
    }
    .vol-tb-pull-10 {
        right: 83.33333333%;
    }
    .vol-tb-pull-9 {
        right: 75%;
    }
    .vol-tb-pull-8 {
        right: 66.66666667%;
    }
    .vol-tb-pull-7 {
        right: 58.33333333%;
    }
    .vol-tb-pull-6 {
        right: 50%;
    }
    .vol-tb-pull-5 {
        right: 41.66666667%;
    }
    .vol-tb-pull-4 {
        right: 33.33333333%;
    }
    .vol-tb-pull-3 {
        right: 25%;
    }
    .vol-tb-pull-2 {
        right: 16.66666667%;
    }
    .vol-tb-pull-1 {
        right: 8.33333333%;
    }
    .vol-tb-pull-0 {
        right: auto;
    }
    .vol-tb-push-12 {
        left: 100%;
    }
    .vol-tb-push-11 {
        left: 91.66666667%;
    }
    .vol-tb-push-10 {
        left: 83.33333333%;
    }
    .vol-tb-push-9 {
        left: 75%;
    }
    .vol-tb-push-8 {
        left: 66.66666667%;
    }
    .vol-tb-push-7 {
        left: 58.33333333%;
    }
    .vol-tb-push-6 {
        left: 50%;
    }
    .vol-tb-push-5 {
        left: 41.66666667%;
    }
    .vol-tb-push-4 {
        left: 33.33333333%;
    }
    .vol-tb-push-3 {
        left: 25%;
    }
    .vol-tb-push-2 {
        left: 16.66666667%;
    }
    .vol-tb-push-1 {
        left: 8.33333333%;
    }
    .vol-tb-push-0 {
        left: auto;
    }
    .vol-tb-offset-12 {
        margin-left: 100%;
    }
    .vol-tb-offset-11 {
        margin-left: 91.66666667%;
    }
    .vol-tb-offset-10 {
        margin-left: 83.33333333%;
    }
    .vol-tb-offset-9 {
        margin-left: 75%;
    }
    .vol-tb-offset-8 {
        margin-left: 66.66666667%;
    }
    .vol-tb-offset-7 {
        margin-left: 58.33333333%;
    }
    .vol-tb-offset-6 {
        margin-left: 50%;
    }
    .vol-tb-offset-5 {
        margin-left: 41.66666667%;
    }
    .vol-tb-offset-4 {
        margin-left: 33.33333333%;
    }
    .vol-tb-offset-3 {
        margin-left: 25%;
    }
    .vol-tb-offset-2 {
        margin-left: 16.66666667%;
    }
    .vol-tb-offset-1 {
        margin-left: 8.33333333%;
    }
    .vol-tb-offset-0 {
        margin-left: 0%;
    }
    /**/
    .modal-lg {
        width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    /**/
    .vol-ds-1,
    .vol-ds-2,
    .vol-ds-3,
    .vol-ds-4,
    .vol-ds-5,
    .vol-ds-6,
    .vol-ds-7,
    .vol-ds-8,
    .vol-ds-9,
    .vol-ds-10,
    .vol-ds-11,
    .vol-ds-12 {
        float: left;
    }
    .vol-ds-12 {
        width: 100%;
    }
    .vol-ds-11 {
        width: 91.66666667%;
    }
    .vol-ds-10 {
        width: 83.33333333%;
    }
    .vol-ds-9 {
        width: 75%;
    }
    .vol-ds-8 {
        width: 66.66666667%;
    }
    .vol-ds-7 {
        width: 58.33333333%;
    }
    .vol-ds-6 {
        width: 50%;
    }
    .vol-ds-5 {
        width: 41.66666667%;
    }
    .vol-ds-4 {
        width: 33.33333333%;
    }
    .vol-ds-3 {
        width: 25%;
    }
    .vol-ds-2 {
        width: 16.66666667%;
    }
    .vol-ds-1 {
        width: 8.33333333%;
    }
    .vol-ds-pull-12 {
        right: 100%;
    }
    .vol-ds-pull-11 {
        right: 91.66666667%;
    }
    .vol-ds-pull-10 {
        right: 83.33333333%;
    }
    .vol-ds-pull-9 {
        right: 75%;
    }
    .vol-ds-pull-8 {
        right: 66.66666667%;
    }
    .vol-ds-pull-7 {
        right: 58.33333333%;
    }
    .vol-ds-pull-6 {
        right: 50%;
    }
    .vol-ds-pull-5 {
        right: 41.66666667%;
    }
    .vol-ds-pull-4 {
        right: 33.33333333%;
    }
    .vol-ds-pull-3 {
        right: 25%;
    }
    .vol-ds-pull-2 {
        right: 16.66666667%;
    }
    .vol-ds-pull-1 {
        right: 8.33333333%;
    }
    .vol-ds-pull-0 {
        right: auto;
    }
    .vol-ds-push-12 {
        left: 100%;
    }
    .vol-ds-push-11 {
        left: 91.66666667%;
    }
    .vol-ds-push-10 {
        left: 83.33333333%;
    }
    .vol-ds-push-9 {
        left: 75%;
    }
    .vol-ds-push-8 {
        left: 66.66666667%;
    }
    .vol-ds-push-7 {
        left: 58.33333333%;
    }
    .vol-ds-push-6 {
        left: 50%;
    }
    .vol-ds-push-5 {
        left: 41.66666667%;
    }
    .vol-ds-push-4 {
        left: 33.33333333%;
    }
    .vol-ds-push-3 {
        left: 25%;
    }
    .vol-ds-push-2 {
        left: 16.66666667%;
    }
    .vol-ds-push-1 {
        left: 8.33333333%;
    }
    .vol-ds-push-0 {
        left: auto;
    }
    .vol-ds-offset-12 {
        margin-left: 100%;
    }
    .vol-ds-offset-11 {
        margin-left: 91.66666667%;
    }
    .vol-ds-offset-10 {
        margin-left: 83.33333333%;
    }
    .vol-ds-offset-9 {
        margin-left: 75%;
    }
    .vol-ds-offset-8 {
        margin-left: 66.66666667%;
    }
    .vol-ds-offset-7 {
        margin-left: 58.33333333%;
    }
    .vol-ds-offset-6 {
        margin-left: 50%;
    }
    .vol-ds-offset-5 {
        margin-left: 41.66666667%;
    }
    .vol-ds-offset-4 {
        margin-left: 33.33333333%;
    }
    .vol-ds-offset-3 {
        margin-left: 25%;
    }
    .vol-ds-offset-2 {
        margin-left: 16.66666667%;
    }
    .vol-ds-offset-1 {
        margin-left: 8.33333333%;
    }
    .vol-ds-offset-0 {
        margin-left: 0%;
    }
}

@-ms-viewport {
    width: device-width;
}