html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: {
    size: 16px;
    family: $font;
  }
  color: $text;
  background: $a-gray;
  margin: 0;
  line-height: 1.42857143;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}
a {
  color: #337ab7;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
figure {
  margin: 0;
}
img {
  vertical-align: middle;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.42857143;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eeeeee;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
[role="button"] {
  cursor: pointer;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}
.mobile-1, .portrait-1, .tablet-1, .display-1, .mobile-2, .portrait-2, .tablet-2, .display-2, .mobile-3, .portrait-3, .tablet-3, .display-3, .mobile-4, .portrait-4, .tablet-4, .display-4, .mobile-5, .portrait-5, .tablet-5, .display-5, .mobile-6, .portrait-6, .tablet-6, .display-6, .mobile-7, .portrait-7, .tablet-7, .display-7, .mobile-8, .portrait-8, .tablet-8, .display-8, .mobile-9, .portrait-9, .tablet-9, .display-9, .mobile-10, .portrait-10, .tablet-10, .display-10, .mobile-11, .portrait-11, .tablet-11, .display-11, .mobile-12, .portrait-12, .tablet-12, .display-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.mobile-1, .mobile-2, .mobile-3, .mobile-4, .mobile-5, .mobile-6, .mobile-7, .mobile-8, .mobile-9, .mobile-10, .mobile-11, .mobile-12 {
  float: left;
}
.mobile-12 {
  width: 100%;
}
.mobile-11 {
  width: 91.66666667%;
}
.mobile-10 {
  width: 83.33333333%;
}
.mobile-9 {
  width: 75%;
}
.mobile-8 {
  width: 66.66666667%;
}
.mobile-7 {
  width: 58.33333333%;
}
.mobile-6 {
  width: 50%;
}
.mobile-5 {
  width: 41.66666667%;
}
.mobile-4 {
  width: 33.33333333%;
}
.mobile-3 {
  width: 25%;
}
.mobile-2 {
  width: 16.66666667%;
}
.mobile-1 {
  width: 8.33333333%;
}
.mobile-pull-12 {
  right: 100%;
}
.mobile-pull-11 {
  right: 91.66666667%;
}
.mobile-pull-10 {
  right: 83.33333333%;
}
.mobile-pull-9 {
  right: 75%;
}
.mobile-pull-8 {
  right: 66.66666667%;
}
.mobile-pull-7 {
  right: 58.33333333%;
}
.mobile-pull-6 {
  right: 50%;
}
.mobile-pull-5 {
  right: 41.66666667%;
}
.mobile-pull-4 {
  right: 33.33333333%;
}
.mobile-pull-3 {
  right: 25%;
}
.mobile-pull-2 {
  right: 16.66666667%;
}
.mobile-pull-1 {
  right: 8.33333333%;
}
.mobile-pull-0 {
  right: auto;
}
.mobile-push-12 {
  left: 100%;
}
.mobile-push-11 {
  left: 91.66666667%;
}
.mobile-push-10 {
  left: 83.33333333%;
}
.mobile-push-9 {
  left: 75%;
}
.mobile-push-8 {
  left: 66.66666667%;
}
.mobile-push-7 {
  left: 58.33333333%;
}
.mobile-push-6 {
  left: 50%;
}
.mobile-push-5 {
  left: 41.66666667%;
}
.mobile-push-4 {
  left: 33.33333333%;
}
.mobile-push-3 {
  left: 25%;
}
.mobile-push-2 {
  left: 16.66666667%;
}
.mobile-push-1 {
  left: 8.33333333%;
}
.mobile-push-0 {
  left: auto;
}
.mobile-offset-12 {
  margin-left: 100%;
}
.mobile-offset-11 {
  margin-left: 91.66666667%;
}
.mobile-offset-10 {
  margin-left: 83.33333333%;
}
.mobile-offset-9 {
  margin-left: 75%;
}
.mobile-offset-8 {
  margin-left: 66.66666667%;
}
.mobile-offset-7 {
  margin-left: 58.33333333%;
}
.mobile-offset-6 {
  margin-left: 50%;
}
.mobile-offset-5 {
  margin-left: 41.66666667%;
}
.mobile-offset-4 {
  margin-left: 33.33333333%;
}
.mobile-offset-3 {
  margin-left: 25%;
}
.mobile-offset-2 {
  margin-left: 16.66666667%;
}
.mobile-offset-1 {
  margin-left: 8.33333333%;
}
.mobile-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .portrait-1, .portrait-2, .portrait-3, .portrait-4, .portrait-5, .portrait-6, .portrait-7, .portrait-8, .portrait-9, .portrait-10, .portrait-11, .portrait-12 {
    float: left;
  }
  .portrait-12 {
    width: 100%;
  }
  .portrait-11 {
    width: 91.66666667%;
  }
  .portrait-10 {
    width: 83.33333333%;
  }
  .portrait-9 {
    width: 75%;
  }
  .portrait-8 {
    width: 66.66666667%;
  }
  .portrait-7 {
    width: 58.33333333%;
  }
  .portrait-6 {
    width: 50%;
  }
  .portrait-5 {
    width: 41.66666667%;
  }
  .portrait-4 {
    width: 33.33333333%;
  }
  .portrait-3 {
    width: 25%;
  }
  .portrait-2 {
    width: 16.66666667%;
  }
  .portrait-1 {
    width: 8.33333333%;
  }
  .portrait-pull-12 {
    right: 100%;
  }
  .portrait-pull-11 {
    right: 91.66666667%;
  }
  .portrait-pull-10 {
    right: 83.33333333%;
  }
  .portrait-pull-9 {
    right: 75%;
  }
  .portrait-pull-8 {
    right: 66.66666667%;
  }
  .portrait-pull-7 {
    right: 58.33333333%;
  }
  .portrait-pull-6 {
    right: 50%;
  }
  .portrait-pull-5 {
    right: 41.66666667%;
  }
  .portrait-pull-4 {
    right: 33.33333333%;
  }
  .portrait-pull-3 {
    right: 25%;
  }
  .portrait-pull-2 {
    right: 16.66666667%;
  }
  .portrait-pull-1 {
    right: 8.33333333%;
  }
  .portrait-pull-0 {
    right: auto;
  }
  .portrait-push-12 {
    left: 100%;
  }
  .portrait-push-11 {
    left: 91.66666667%;
  }
  .portrait-push-10 {
    left: 83.33333333%;
  }
  .portrait-push-9 {
    left: 75%;
  }
  .portrait-push-8 {
    left: 66.66666667%;
  }
  .portrait-push-7 {
    left: 58.33333333%;
  }
  .portrait-push-6 {
    left: 50%;
  }
  .portrait-push-5 {
    left: 41.66666667%;
  }
  .portrait-push-4 {
    left: 33.33333333%;
  }
  .portrait-push-3 {
    left: 25%;
  }
  .portrait-push-2 {
    left: 16.66666667%;
  }
  .portrait-push-1 {
    left: 8.33333333%;
  }
  .portrait-push-0 {
    left: auto;
  }
  .portrait-offset-12 {
    margin-left: 100%;
  }
  .portrait-offset-11 {
    margin-left: 91.66666667%;
  }
  .portrait-offset-10 {
    margin-left: 83.33333333%;
  }
  .portrait-offset-9 {
    margin-left: 75%;
  }
  .portrait-offset-8 {
    margin-left: 66.66666667%;
  }
  .portrait-offset-7 {
    margin-left: 58.33333333%;
  }
  .portrait-offset-6 {
    margin-left: 50%;
  }
  .portrait-offset-5 {
    margin-left: 41.66666667%;
  }
  .portrait-offset-4 {
    margin-left: 33.33333333%;
  }
  .portrait-offset-3 {
    margin-left: 25%;
  }
  .portrait-offset-2 {
    margin-left: 16.66666667%;
  }
  .portrait-offset-1 {
    margin-left: 8.33333333%;
  }
  .portrait-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .tablet-1, .tablet-2, .tablet-3, .tablet-4, .tablet-5, .tablet-6, .tablet-7, .tablet-8, .tablet-9, .tablet-10, .tablet-11, .tablet-12 {
    float: left;
  }
  .tablet-12 {
    width: 100%;
  }
  .tablet-11 {
    width: 91.66666667%;
  }
  .tablet-10 {
    width: 83.33333333%;
  }
  .tablet-9 {
    width: 75%;
  }
  .tablet-8 {
    width: 66.66666667%;
  }
  .tablet-7 {
    width: 58.33333333%;
  }
  .tablet-6 {
    width: 50%;
  }
  .tablet-5 {
    width: 41.66666667%;
  }
  .tablet-4 {
    width: 33.33333333%;
  }
  .tablet-3 {
    width: 25%;
  }
  .tablet-2 {
    width: 16.66666667%;
  }
  .tablet-1 {
    width: 8.33333333%;
  }
  .tablet-pull-12 {
    right: 100%;
  }
  .tablet-pull-11 {
    right: 91.66666667%;
  }
  .tablet-pull-10 {
    right: 83.33333333%;
  }
  .tablet-pull-9 {
    right: 75%;
  }
  .tablet-pull-8 {
    right: 66.66666667%;
  }
  .tablet-pull-7 {
    right: 58.33333333%;
  }
  .tablet-pull-6 {
    right: 50%;
  }
  .tablet-pull-5 {
    right: 41.66666667%;
  }
  .tablet-pull-4 {
    right: 33.33333333%;
  }
  .tablet-pull-3 {
    right: 25%;
  }
  .tablet-pull-2 {
    right: 16.66666667%;
  }
  .tablet-pull-1 {
    right: 8.33333333%;
  }
  .tablet-pull-0 {
    right: auto;
  }
  .tablet-push-12 {
    left: 100%;
  }
  .tablet-push-11 {
    left: 91.66666667%;
  }
  .tablet-push-10 {
    left: 83.33333333%;
  }
  .tablet-push-9 {
    left: 75%;
  }
  .tablet-push-8 {
    left: 66.66666667%;
  }
  .tablet-push-7 {
    left: 58.33333333%;
  }
  .tablet-push-6 {
    left: 50%;
  }
  .tablet-push-5 {
    left: 41.66666667%;
  }
  .tablet-push-4 {
    left: 33.33333333%;
  }
  .tablet-push-3 {
    left: 25%;
  }
  .tablet-push-2 {
    left: 16.66666667%;
  }
  .tablet-push-1 {
    left: 8.33333333%;
  }
  .tablet-push-0 {
    left: auto;
  }
  .tablet-offset-12 {
    margin-left: 100%;
  }
  .tablet-offset-11 {
    margin-left: 91.66666667%;
  }
  .tablet-offset-10 {
    margin-left: 83.33333333%;
  }
  .tablet-offset-9 {
    margin-left: 75%;
  }
  .tablet-offset-8 {
    margin-left: 66.66666667%;
  }
  .tablet-offset-7 {
    margin-left: 58.33333333%;
  }
  .tablet-offset-6 {
    margin-left: 50%;
  }
  .tablet-offset-5 {
    margin-left: 41.66666667%;
  }
  .tablet-offset-4 {
    margin-left: 33.33333333%;
  }
  .tablet-offset-3 {
    margin-left: 25%;
  }
  .tablet-offset-2 {
    margin-left: 16.66666667%;
  }
  .tablet-offset-1 {
    margin-left: 8.33333333%;
  }
  .tablet-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .display-1, .display-2, .display-3, .display-4, .display-5, .display-6, .display-7, .display-8, .display-9, .display-10, .display-11, .display-12 {
    float: left;
  }
  .display-12 {
    width: 100%;
  }
  .display-11 {
    width: 91.66666667%;
  }
  .display-10 {
    width: 83.33333333%;
  }
  .display-9 {
    width: 75%;
  }
  .display-8 {
    width: 66.66666667%;
  }
  .display-7 {
    width: 58.33333333%;
  }
  .display-6 {
    width: 50%;
  }
  .display-5 {
    width: 41.66666667%;
  }
  .display-4 {
    width: 33.33333333%;
  }
  .display-3 {
    width: 25%;
  }
  .display-2 {
    width: 16.66666667%;
  }
  .display-1 {
    width: 8.33333333%;
  }
  .display-pull-12 {
    right: 100%;
  }
  .display-pull-11 {
    right: 91.66666667%;
  }
  .display-pull-10 {
    right: 83.33333333%;
  }
  .display-pull-9 {
    right: 75%;
  }
  .display-pull-8 {
    right: 66.66666667%;
  }
  .display-pull-7 {
    right: 58.33333333%;
  }
  .display-pull-6 {
    right: 50%;
  }
  .display-pull-5 {
    right: 41.66666667%;
  }
  .display-pull-4 {
    right: 33.33333333%;
  }
  .display-pull-3 {
    right: 25%;
  }
  .display-pull-2 {
    right: 16.66666667%;
  }
  .display-pull-1 {
    right: 8.33333333%;
  }
  .display-pull-0 {
    right: auto;
  }
  .display-push-12 {
    left: 100%;
  }
  .display-push-11 {
    left: 91.66666667%;
  }
  .display-push-10 {
    left: 83.33333333%;
  }
  .display-push-9 {
    left: 75%;
  }
  .display-push-8 {
    left: 66.66666667%;
  }
  .display-push-7 {
    left: 58.33333333%;
  }
  .display-push-6 {
    left: 50%;
  }
  .display-push-5 {
    left: 41.66666667%;
  }
  .display-push-4 {
    left: 33.33333333%;
  }
  .display-push-3 {
    left: 25%;
  }
  .display-push-2 {
    left: 16.66666667%;
  }
  .display-push-1 {
    left: 8.33333333%;
  }
  .display-push-0 {
    left: auto;
  }
  .display-offset-12 {
    margin-left: 100%;
  }
  .display-offset-11 {
    margin-left: 91.66666667%;
  }
  .display-offset-10 {
    margin-left: 83.33333333%;
  }
  .display-offset-9 {
    margin-left: 75%;
  }
  .display-offset-8 {
    margin-left: 66.66666667%;
  }
  .display-offset-7 {
    margin-left: 58.33333333%;
  }
  .display-offset-6 {
    margin-left: 50%;
  }
  .display-offset-5 {
    margin-left: 41.66666667%;
  }
  .display-offset-4 {
    margin-left: 33.33333333%;
  }
  .display-offset-3 {
    margin-left: 25%;
  }
  .display-offset-2 {
    margin-left: 16.66666667%;
  }
  .display-offset-1 {
    margin-left: 8.33333333%;
  }
  .display-offset-0 {
    margin-left: 0%;
  }
}
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
tr.collapse.in {
  display: table-row;
}
tbody.collapse.in {
  display: table-row-group;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
     transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  -o-transition-duration: 0.35s;
     transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
     transition-timing-function: ease;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.nav {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav > li {
  position: relative;
  display: block;
}
.nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
}
.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.nav > li.disabled > a {
  color: #777777;
}
.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  color: #777777;
  text-decoration: none;
  background-color: transparent;
  cursor: not-allowed;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #eeeeee;
  border-color: #337ab7;
}
.nav .nav-divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.nav > li > a > img {
  max-width: none;
}
.nav-tabs {
  border-bottom: 1px solid #dddddd;
}
.nav-tabs > li {
  float: left;
  margin-bottom: -1px;
}
.nav-tabs > li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}
.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #555555;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-bottom-color: transparent;
  cursor: default;
}
.nav-tabs.nav-justified {
  width: 100%;
  border-bottom: 0;
}
.nav-tabs.nav-justified > li {
  float: none;
}
.nav-tabs.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-tabs.nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs.nav-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs.nav-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs.nav-justified > .active > a,
  .nav-tabs.nav-justified > .active > a:hover,
  .nav-tabs.nav-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 4px;
}
.nav-pills > li + li {
  margin-left: 2px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #ffffff;
  background-color: #337ab7;
}
.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
  margin-bottom: 5px;
}
.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}
@media (min-width: 768px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
  .nav-justified > li > a {
    margin-bottom: 0;
  }
}
.nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  margin-right: 0;
  border-radius: 4px;
}
.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #dddddd;
}
@media (min-width: 768px) {
  .nav-tabs-justified > li > a {
    border-bottom: 1px solid #dddddd;
    border-radius: 4px 4px 0 0;
  }
  .nav-tabs-justified > .active > a,
  .nav-tabs-justified > .active > a:hover,
  .nav-tabs-justified > .active > a:focus {
    border-bottom-color: #ffffff;
  }
}
.tab-content > .tab-pane {
  display: none;
}
.tab-content > .active {
  display: block;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after,
.container-fluid:before,
.container-fluid:after,
.row:before,
.row:after,
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.clearfix:after,
.container:after,
.container-fluid:after,
.row:after,
.nav:after {
  clear: both;
}
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.hidden {
  display: none !important;
}
.affix {
  position: fixed;
}
/*@-ms-viewport {
  width: device-width;
}*/
.visible-xs,
.visible-sm,
.visible-md,
.visible-lg {
  display: none !important;
}
.visible-xs-block,
.visible-xs-inline,
.visible-xs-inline-block,
.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
  display: none !important;
}
@media (max-width: 767px) {
  .visible-xs {
    display: block !important;
  }
  table.visible-xs {
    display: table !important;
  }
  tr.visible-xs {
    display: table-row !important;
  }
  th.visible-xs,
  td.visible-xs {
    display: table-cell !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-block {
    display: block !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline {
    display: inline !important;
  }
}
@media (max-width: 767px) {
  .visible-xs-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block !important;
  }
  table.visible-sm {
    display: table !important;
  }
  tr.visible-sm {
    display: table-row !important;
  }
  th.visible-sm,
  td.visible-sm {
    display: table-cell !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline {
    display: inline !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block !important;
  }
  table.visible-md {
    display: table !important;
  }
  tr.visible-md {
    display: table-row !important;
  }
  th.visible-md,
  td.visible-md {
    display: table-cell !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-block {
    display: block !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline {
    display: inline !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md-inline-block {
    display: inline-block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg {
    display: block !important;
  }
  table.visible-lg {
    display: table !important;
  }
  tr.visible-lg {
    display: table-row !important;
  }
  th.visible-lg,
  td.visible-lg {
    display: table-cell !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-block {
    display: block !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline {
    display: inline !important;
  }
}
@media (min-width: 1200px) {
  .visible-lg-inline-block {
    display: inline-block !important;
  }
}
@media (max-width: 767px) {
  .hidden-xs {
    display: none !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important;
  }
}
@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important;
  }
}