/* MIXINS */
@mixin transition { //transition property
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

@mixin transform($translate) { //transition property
  -webkit-transform: $translate;
  -moz-transform: $translate;
  -ms-transform: $translate;
  -o-transform: $translate;
  transform: $translate;
}

@mixin regular-text {
  font: {
    family: $font;
    style: normal;
    stretch: normal;
  }
}

@mixin regular-text($weight, $size) {
  font: {
    family: $font;
    weight: $weight;
    size: $size;
    style: normal;
    stretch: normal;
  }
}