$text: #282828; //regular text color
$black-text: #161616; //black text
$font: 'Proxima Nova', sans-serif; //main font
$blue: #0183de; //blue color
$blue-hover: #0096ff;
$blue-dark: #00548f;
$blue-black: #212fba;
$yellow: #efaf03; //yellow color
$white: #fff;
$a-gray: #f1f0f0; //light gray
$b-gray: #e0e0e0; //light middle gray
$c-gray: #a2a2a2; //hard gray
$d-gray: #595959; //hard middle gray
$e-gray: #373737; //dark gray
$f-gray: #a3a3a3; //dark gray
$g-gray: #909090;
$icon: #606060;
$select: #8c8b8b;
$filter:#1d94e7;
$crumbs:#90d1ff;
$red: #f5470a;
$error: #fdcf09;
$success:#02a411;