@import "fonts";
@import "../package/elusive-icons/css/elusive-icons";
@import "../package/font-awesome/css/font-awesome";
@import "../package/chosen/chosen";
@import "bootstrap";
@import "vars";
@import "mixins";

/* MAIN STYLES */
body {
  font: {
    size: 16px;
    family: $font;
  }
  color: $text;
  /*overflow-y: scroll;*/
  background: $a-gray;
}

.overflow-body {
  overflow-y: hidden !important;
  /*position: fixed !important;*/
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

/* HEADERS */
h2 {
  @include regular-text(600, 1.625em);
  margin-bottom: 26px;
  margin-top: 8px;
  line-height: 0.8;
  color: $c-gray;
}

h3 {
  @include regular-text(700, 1.250em);
  line-height: 1.2;
  margin-bottom: 16px;
  margin-top: 0;
  color: $text;
}

h5 {
  margin-bottom: 31px;
  @include regular-text(600, 1.313em);
  color: $white;
}

/* PARAGRAPH */
p {
  margin: 0;
}

/* LINKS */
a {
  @include transition;
  color: $text;
  cursor: pointer;
  &:hover {
    text-decoration: none;
    color: inherit;
  }
  &:focus {
    text-decoration: none;
    color: inherit;
  }
}

/* FORMS */
input {
  -webkit-appearance: none;
  border: none;
  padding: 5px 10px;
  &:focus {
    outline: none;
  }
}

.custom-select {
  background: $white;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: $text;
  padding: {
    top: 17px;
    left: 25px;
    right: 25px;
    bottom: 17px;
  }
  line-height: 1.14;
  width: 100%;
  font-size: 1.125em;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
  &:focus {
    outline: none;
  }
}

.lang-select {
  -webkit-appearance: none;
  outline: none;
  background: transparent;
  border: none;
  &:focus {
    outline: none;
  }
}

/* SELECT */
.chosen-container-single .chosen-single { //main select style
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.chosen-container .chosen-drop { //collapsed style
  background: $white;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-bottom: 15px;
}

.chosen-container-active.chosen-with-drop .chosen-single { //collapsed main style
  background: $white;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.chosen-container-active.chosen-with-drop {
  background: $white;

}

.chosen-container-active.chosen-with-drop .chosen-drop {
  background: $white;

}

.chosen-container .chosen-results li.active-result {
  color: $select;
  padding: {
    top: 12px;
    left: 30px;
    right: 30px;
    bottom: 12px;
  }
  line-height: 1.3;
}

.chosen-container .chosen-results li.result-selected, .chosen-container .chosen-results li.highlighted {
  background: $white;
  color: $text;
  cursor: pointer;
}

.chosen-container .chosen-results li.result-selected {
  display: none;
}

.chosen-container .chosen-results {
  padding: {
    left: 0;
    right: 0;
  }
  margin: {
    left: 0;
    right: 0;
    bottom: 0;
  }
  li {
    padding-left: 8px;
  }
}

//BUTTON
.button-regular {
  background: $yellow;
  display: inline-block;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.250em;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 14px 0 15px 0;
  @include transition;
  &:hover {
    background: $blue-hover;
  }
}

.footer-button {
  background: $c-gray;
  line-height: 1.5;
  font-weight: 600;
  color: $black-text;
  width: 96%;
  padding: 9px 0 11px 0;
  font-size: 1.150em;
  &:hover {
    background: $yellow;
  }
}

/* INDENTS */
.indent {
  padding: {
    top: 71px;
    bottom: 44px;
    left: 22px;
    right: 31px;
  }
}

.row-indent {
  padding: {
    top: 0;
    bottom: 19px;
    left: 27px;
    right: 0;
  }
}

/* MENU */
header {
  background: $blue;
  min-height: 271px;
}

.back-head {
  background: $b-gray;
  padding: 0 15px;
}

//small navigation
.navigation-head {
  padding: 0;
  margin: 0;
  float: right;
  li {
    display: inline-block;
    a {
      display: inline-block;
      color: $icon;
      &:hover {
        color: $blue;
      }
    }
  }
}

.social-head {
  font-size: 0.813em;

  padding: 8px 2px 5px 2px;
}

.link-search {
  margin-right: 29px;
}

//LANG CHOSEN

.link-lang {
  margin-left: 4px;
  .chosen-container {
    padding: 0;
  }
  .chosen-container .chosen-drop {
    padding-bottom: 0;
  }
  .chosen-container-active.chosen-with-drop {
    background: $white;

  }
  .chosen-container-active.chosen-with-drop .chosen-drop {
    background: $b-gray;

  }
  .chosen-container .chosen-results li.result-selected, .chosen-container .chosen-results li.highlighted {
    background: $white;
    color: $text;
  }
  .chosen-container .chosen-results {
    padding: {
      left: 0;
      right: 0;
    }
    margin: {
      left: 0;
      right: 0;
      bottom: 0;
    }
    li {
      padding: 5px 8px;
    }
  }
}

.caret {
  margin-left: 14px;
}

/* SEARCH */

.search-relative {
  position: relative;
  right: 17px;
}

.search-head form {
  height: 21px;
}

.search-head input {
  height: 27px;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  z-index: 3;
  margin: 2px 0;
  &:hover {
    cursor: pointer;
  }
  &:focus {
    width: 215px;
    background: $white;
    right: 30px;
  }
}

.search-head button {
  background: transparent;
  border: none;
  height: 31px;
  width: 31px;
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
  cursor: pointer;
  outline: none;
  z-index: 2;
  color: $icon;
  &:hover {
    color: $blue;
  }
}

/*SEARCH MOBILE*/
.search-relative.mobile-search {
  display: none;
  .search-head form {
    height: 24px;
    position: relative;
    top: 6px;
    left: 15px;
    width: 75%;
  }

  .search-head input {
    height: 29px;
    left: 0;
    right: auto;
    &:focus {
      width: 180px;
      left: 35px;
      right: auto;
    }
  }

  .search-head button {
    left: 0;
    right: auto;
    font-size: 24px;
  }
}

//main navigation
.back-blue {
  background: $blue;

}

.navbar-default {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  margin: 0;
  padding: 0;
}

.navbar-header {
  margin-left: 15px;
}

.navbar-right {
  padding: 31px 0;
}

//MAIN MENU SELECT

.navbar-default .navbar-nav > li > {
  a.select-connect {
    @include regular-text(600, 1.5em);
    line-height: 0.83;
    color: $white;
    padding: {
      left: 0;
      right: 0;
    }
    margin: {
      left: 0;
      right: 0;
    }
    &:hover {
      border-color: transparent;
      opacity: .5;
    }
    &:focus {
      border-color: transparent;
      opacity: .5;
    }
  }
}

.navbar-default .navbar-nav > .open > a.select-connect, .navbar-default .navbar-nav > .open > a.select-connect:hover, .navbar-default .navbar-nav > .open > a.select-connect:focus {
  border-color: transparent;
  opacity: .5;
}

.navbar-default .navbar-nav > li > a {
  cursor: pointer;
  @include regular-text(300, 1em);
  padding: {
    bottom: 3px;
    left: 0;
    right: 0;
  }
  margin: {
    left: 18px;
    right: 18px;
    bottom: 12px;
  }
  color: $white;
  &:hover {
    color: $white;
  }
  &:focus {
    color: $white;
  }
}

.navbar-default .navbar-nav > li > a.nav-map {
  padding-top: 4px;
  margin-top: 7px;
  margin-left: 23px;
  margin-right: 48px;
  &:hover {
    opacity: .5;
  }
}

.menu-link {
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid #fff;
  }
}

.navbar-right .dropdown-menu {
  left: 0;
  right: auto;
  top: 77%;
  width: 240px;
}

.navbar-nav > li > .dropdown-menu {
  background: $blue-hover;
  border-radius: 0;
  box-shadow: none;
  border: 0;
  font-size: 1em;
  padding-top: 20px;
  padding-bottom: 10px;
}

.dropdown-menu > li > a {
  color: $white;
  white-space: normal;
  margin-bottom: 10px;
  &:hover {
    background: #33abff;
    color: $white;
  }
  &:focus {
    background: #33abff;
    color: $white;
  }
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background: transparent;
  color: $white;
  border-color: $white;
}

//dropdown for phones

.navbar-nav > li.menu-connect > .dropdown-connect {
  padding: {
    left: 8px;
    right: 8px;
    top: 13px;
    bottom: 13px;
  }
  width: 1178px;
  right: 0;
  left: auto;
  top: 160%;
  li {
    width: 33.333333%;
    float: left;
    a {
      padding: {
        top: 11px;
        bottom: 12px;
      }
      margin-bottom: 0;
      font-size: 0.875em;
    }
  }
  .connect-header {
    width: 100%;

    a {
      font-weight: 700;
      font-size: 1.125em;
      &:hover {
        background: transparent;
      }
      &:focus {
        background: transparent;
      }
    }
  }
}

.navbar-nav.nav-mobile > li.menu-connect > .dropdown-connect {
  padding: {
    left: 8px;
    right: 8px;
    top: 13px;
    bottom: 13px;
  }
  width: 100%;
  li {
    width: 50%;
    a {
      padding: {
        top: 11px;
        bottom: 12px;
        left: 0;
        right: 0;
      }
      margin-bottom: 0;
      font-size: 0.875em;
    }
  }
  .connect-header {
    width: 100%;

    a {
      font-weight: 700;
      font-size: 1.125em;
      &:hover {
        background: transparent;
      }
      &:focus {
        background: transparent;
      }
    }
  }
}

.phone-number {
  display: inline-block;
  width: 100%;
}

/* logo */
.navbar-brand {
  height: 100%;
  padding: 20px 10px;
  width: 88px;
}

.navbar-brand > img {

  width: 100%;
}

.navbar-default .navbar-nav.nav-name {
  @include regular-text(600, 1em);
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  padding: 23px 0;
  li {
    a {
      font-weight: 600;
      color: $white;
      &:hover {
        color: $white;
        opacity: .5;
      }
    }
  }
}

.navbar-default .navbar-nav.nav-mobile {
  display: none;
  a {
    cursor: auto;
  }
  select {
    background: transparent;
    border: none;
  }
}

.navbar-default .navbar-nav > li > a.nav-index {
  font: {
    weight: 600;
  }
  border-bottom: 2px solid transparent;
}

/* SEARCH SERVICES */
.search-row {
  position: relative;
  top: 50px;
  .chosen-container {
    background: $white;
    padding: 15px 30px 17px 22px;
    font-size: 1.125em;
  }
}

.angles-row {
  padding-left: 29px;
  padding-right: 29px;
}

/* Services boxes */
.mobile-logo {
  display: none;
  padding: 26px 0 30px;
  margin: 0;
  img {
    max-width: 67px;
    width: 100%;
  }
}

.mobile-head {
  @include regular-text(600, 1em);
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  padding: 21px 0 9px 0;
  font-weight: 600;
  color: $white;
  display: inline-block;
  &:hover {
    color: $white;
    opacity: .5;
  }
}

.services-box-1 {
  float: left;
  width: 37.9%;
  padding: 0 8px;
}

.services-box-2 {
  float: left;
  width: 38.4%;
  padding: 0 11px;
}

.services-box-3 {
  float: left;
  width: 24.5%;
  padding: 0 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  button {
    bottom: 0;
    top: auto;
    left: auto;
    right: auto;
    color: $white;
  }
}

.search-label {
  color: $white;
  font-size: 1.250em;
  margin-bottom: 15px;
  font-weight: 500;
}

/* VIEW ALL */
.view-all {
  @include regular-text(600, 1em);
  padding-right: 13px;
  margin-bottom: 17px;
  margin-top: 0;
  text-align: right;
  text-transform: lowercase;
  position: relative;
  top: 10px;
  a {
    color: $blue;
    &:hover {
      color: $yellow;
    }
    &:hover .el-chevron-right {
      right: -38px;
      color: $yellow;
    }
    i {
      font-size: 12px;
    }
  }
}

.padding-fix {
  .view-all {
    padding-right: 28px;
  }
}

.row-view-all {
  display: none;
  padding-top: 16px;
  padding-bottom: 12px;
}

.view-all-mobile {
  font-size: 1.125em;
  text-transform: none;
  text-align: center;
  padding-right: 0;
  @include transition;
  a {
    color: $blue-black;
    border-bottom: 2px solid $blue-black;
    &:hover {
      border-bottom: 2px solid $yellow;
    }
  }

}

/* SERVICES CONTAINER */
.services {
  padding: 144px 38px 45px 50px;
}

/* SERVICE ITEMS */
.service-item {
  position: relative;
  background: transparent;
  @include transition;
  padding: {
    top: 26px;
    left: 32px;
    right: 32px;
    bottom: 26px;
  }

  min-height: 226px;
  &:hover {
    background: $white;
    .sprite-top {
      opacity: 1;
    }
  }
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  img {
    margin-bottom: 36px;
    height: 61px;

  }
  p {
    padding-right: 25px;
  }
}

/* ICON SPRITE */
.sprite-top {
  position: absolute;
  top: 26px;
  left: 32px;
  opacity: 0;
  @include transition;
}

/* NEWS */

.important-item {
  background: transparent;
  @include transition;
  margin-right: 74px;
  min-height: 220px;
  outline: none;
  padding: {
    top: 25px;
    left: 31px;
    right: 85px;
    bottom: 15px;
  }
;
  &:hover {
    background: $white;
  }
  p {
    line-height: 1.2;
  }
}

.content-item {
  height: 140px;
  overflow: hidden;
  position: relative;
  display: block;
}

.read-next {
  @include regular-text(400, 0.750em);
  @include transition;
  position: absolute;
  right: 27px;
  bottom: 25px;
  display: none;
  a {
    color: #0183de;
    &:hover {
      color: $yellow;
    }
  }
}

.important-item {
  position: relative;
  &:hover {
    .read-next {
      display: block;
    }
  }
}

/* EVENTS */
.event-item {
  padding: {
    left: 30px;
    top: 25px;
    right: 15px;
  }
  min-height: 220px;;
  @include transition;
  position: relative;
  .read-next {
    bottom: -30px;
  }
  img {
    width: 100%;
    margin-top: 5px;
  }
  &:hover {
    background: $white;
    .read-next {
      display: block;
    }
  }
  p {
    line-height: 1.2;
    margin-top: 15px;
  }
}

.event-date {
  @include regular-text(400, 0.750em);
  position: absolute;
  bottom: -30px;
  left: 12px;
}

/* TABS */
.tab-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;

  border-top: 10px solid $yellow;
  position: absolute;
  bottom: 0;
  left: calc(50% - 10px);
  @include transition;
  z-index: -1;
  opacity: 0;
}

.blue-arrow {
  bottom: auto;
  top: -10px;
  opacity: 1;
  border-bottom: 10px solid $blue-hover;
  border-top: 0;
  left: auto;
  right: 75px;
  display: none;
}

.nav-tabs {
  border: none;
  margin-top: 0;
}

.nav-tabs > li {
  position: relative;
  &:hover {
    .tab-arrow {
      bottom: -10px;
      opacity: 1;
    }
  }
}

.nav-tabs > li.active {
  .tab-arrow {
    bottom: -10px;
    border-top: 10px solid $c-gray;
    opacity: 1;
  }
}

.nav-tabs > li > a {
  border-radius: 0;
  line-height: 0.9;
  color: $text;
  background: $white;
  border: none;
  cursor: pointer;
  @include regular-text(400, 1.250em);
  padding: {
    top: 19px;
    bottom: 20px;
    left: 30px;
    right: 30px;
  }
  margin-right: 19px;
  &:hover {
    background: $yellow;
  }
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: $white;
  background: $c-gray;
  border: none;
  cursor: default;
}

/**/

.nav-tabs {
  border: none;
  margin-top: 0;
}

.nav-tabs > div {
  position: relative;
  float: left;
  &:hover {
    .tab-arrow {
      bottom: -30px;
      opacity: 1;
    }
  }
}

.nav-tabs > div.active {
  .tab-arrow {
    bottom: -30px;
    border-top: 10px solid $c-gray;
    opacity: 1;
  }
}

.nav-tabs > div > a {
  border-radius: 0;
  line-height: 0.9;
  color: $text;
  background: $white;
  border: none;
  cursor: pointer;
  @include regular-text(400, 1.250em);
  padding: {
    top: 19px;
    bottom: 20px;
    left: 30px;
    right: 30px;
  }
  margin-right: 19px;
  &:hover {
    background: $yellow;
  }
}

.nav-tabs > div.active > a,
.nav-tabs > div.active > a:hover,
.nav-tabs > div.active > a:focus {
  color: $white;
  background: $c-gray;
  border: none;
  cursor: default;
}

/* TAB CONTENT */
.tab-pane {
  padding: {
    top: 34px;
  }
}

.panel-group .panel {
  background: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  position: relative;
  margin-bottom: 15px;
}

.panel-default > .panel-heading {
  background: transparent;
  border-radius: 0;
  border: none;
  padding: 0;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  background: transparent;
  border-radius: 0;
  border: none;
  padding: {
    top: 17px;
    left: 30px;
    right: 30px;
    bottom: 5px;
  }
}

.panel-body {
  p {
    line-height: 1.3;
    margin-bottom: 23px;
  }
}

.panel-title > a.collapsed {
  font-weight: 400;
  background: transparent;
  &:hover {
    background: $white;
  }
}

.panel-title > a {
  background: $white;
  width: 100%;
  display: inline-block;
  font-weight: 700;
  position: relative;
  line-height: 1.16;
  padding: {
    top: 18px;
    bottom: 20px;
    left: 30px;
    right: 25%;
  }
}

.panel-title {
  line-height: 1.16;
}

.panel-collapse {
  background: $white;
}

/* no answer */
.no-answer {
  color: $blue;
  .el-chevron-right {
    font-size: 12px;
    position: relative;
    left: 24px;
  }
  &:hover {
    color: $yellow;
    .el-chevron-right {
      left: 44px;
    }
  }
}

/* caret */
.caret-down {
  position: absolute;
  left: auto;
  right: 2.7%;
  top: 34%;
}

/* FOOTER */
footer {
  padding: {
    top: 32px;
    bottom: 46px;
  }
  background: $d-gray;
  p {
    font-size: 0.875em;
    color: $white;
    line-height: 1.3;
    margin: {
      top: 0;
      bottom: 10px;
    }
  }
}

.footer-data {
  padding: {
    left: 52px;
    right: 52px;
  }
}

.footer-side {
  min-height: 209px;
}

.contact-link {
  color: $white;
  cursor: pointer;
  font-weight: 700;
  &:hover {
    color: $yellow;
  }
}

.skype-link {
  color: $yellow;
  text-decoration: underline;
  &:hover {
    text-decoration: underline;
    color: $blue;
  }
}

.social-links {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    padding: {
      top: 3px;
      left: 1px;
      right: 1px;
      bottom: 3px;
    }
    margin-right: 7px;
    a {
      color: $white;
      font-size: 1.500em;

      &:hover {
        color: $yellow;
      }
    }
  }

}

.nav-tabs.organ-partners {
  margin-top: 30px;
}

.nav-tabs.organ-partners > li > a {
  background: transparent;
  color: $f-gray;
  padding: {
    top: 10px;
    left: 0;
    right: 0;
    bottom: 12px;
  }
  margin-right: 6px;
  font-size: 1.313em;
  font-weight: 600;
  &:hover {
    background: transparent;
    color: $white;
  }
  &:focus {
    background: transparent;
  }
}

.nav-tabs.organ-partners > li.active > a {
  color: $white;
}

.nav-tabs.organ-partners > li > a.footer-trident {
  background: transparent;
  padding: 0;
  cursor: default;
  margin-right: 22px;
  img {
    max-width: 23px;
    width: 100%;
  }
}

.footer-pane {
  padding: {
    top: 26px;
    left: 15px;
  }
}

/* FOOTER LINKS */
.footer-links {
  margin: 0;
  padding: 0;

  li {
    float: left;
    width: 48%;
    /*list-style: url('../img/icons/list.gif') outside;*/
    list-style: none;
    background: url('../img/icons/list.gif') no-repeat left 40%;
    padding: {
      left: 31px;
      right: 5px;
    }
    margin-bottom: 12px;
    margin-right: 2%;
    line-height: 1.2;
    @include transition;
    &:hover {
      background: $yellow;
    }
    a {
      font-size: .836em;
      color: $white;

    }
  }
}

/* BOTTOM MENU */
.bottom-menu {
  background: $e-gray;
}

.bottom-row {
  padding: {
    left: 37px;
    right: 37px;
  }
  p {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 0.8750em;
    color: $g-gray;
  }
}

.bottom-links {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-right: 21px;
    a {
      font-size: 0.8750em;
      display: inline-block;
      padding: {
        left: 2px;
        top: 13px;
        bottom: 13px;
        right: 2px;
      }
      color: $g-gray;
      &:hover {
        color: $white;
      }
    }
  }
}

/* BUTTON UP */
.button-up {
  background: $c-gray;
  width: 46px;
  height: 46px;
  text-align: center;
  @include transition;
  position: fixed;
  right: 39px;
  bottom: 94px;
  display: none;
  z-index: 30;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 12px;
  }
  &:hover {
    opacity: .2;
  }
}

/* FIXES */
.padding-fix {
  padding-right: 0;
  padding-left: 0;
}

.padding-left-fix {
  padding-left: 0;
}

.padding-right-fix {
  padding-right: 0;
}

.padding-image-fix {
  padding-left: 7px;
  padding-right: 27px;
}

.padding-footer-fix {
  padding-left: 7px;
  padding-right: 0;
}

.padding-event-fix {
  padding-right: 5px;
  padding-left: 13px;
}

.padding-aside {
  padding-left: 38px;
}

/* ICONS */
.el-chevron-right {
  font-size: 18px;
  position: relative;
  right: -8px;
  @include transition;
}

.el-caret-down {
  font-size: 8px;
}

/*SLIDERS*/


.slick-dots {
  bottom: 87px;
}

.slick-dotted.slick-slider {
  margin-bottom: 0;
}
.slick-dots li button::before {
  font-size: 10px;
}

/* */
@import "volta-responsive";