/*VARIABLES */
/* MIXINS */
/* MAIN STYLES */
body {
  font-size: 16px;
  font-family: "Proxima Nova";
  color: #282828;
  overflow-y: scroll;
  background: #f1f0f0; }

/* HEADERS */
h2 {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1.625em;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 17px;
  margin-top: 8px;
  line-height: 0.8;
  color: #a2a2a2; }

h3 {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 1.25em;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 0;
  color: #282828; }

h5 {
  margin-bottom: 31px;
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1.313em;
  font-style: normal;
  font-stretch: normal;
  color: #fff; }

/* LINKS */
a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #282828; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:focus {
    text-decoration: none;
    color: inherit; }

/* FORMS */
input {
  -webkit-appearance: none;
  border: none;
  padding: 5px 10px; }
  input:focus {
    outline: none; }

/* SELECT */
.chosen-container-single .chosen-single {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none; }

.chosen-container .chosen-drop {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none; }

.chosen-container-active.chosen-with-drop .chosen-single {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none; }

.select-connect .chosen-container {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1.5em;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83; }

.select-connect .chosen-container-single .chosen-single {
  color: #fff; }

.button-regular {
  background: #efaf03;
  display: inline-block;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.250em;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 17px 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .button-regular:hover {
    background: #0183de; }

.footer-button {
  background: #a2a2a2;
  line-height: 1.5;
  font-weight: 600;
  color: #161616;
  width: 96%;
  padding: 9px 0 11px 0;
  font-size: 1.150em; }
  .footer-button:hover {
    background: #efaf03; }

/* MENU */
header {
  background: #0183de;
  max-height: 247px; }

.back-head {
  background: #e0e0e0;
  padding: 0 15px; }

.navigation-head {
  padding: 0;
  margin: 0;
  float: right; }
  .navigation-head li {
    display: inline-block; }
    .navigation-head li a {
      display: inline-block;
      color: #606060; }
      .navigation-head li a:hover {
        color: #efaf03; }

.social-head {
  font-size: 0.813em;
  padding: 8px 2px 5px 2px; }

.link-search {
  margin-right: 29px; }

.link-lang {
  margin-left: 4px; }

/* SEARCH */
/*.search-head {
  position: relative;
  width: 300px;
}

#search-field {
  height: 100%;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: .4s cubic-bezier(0, 0.8, 0, 1);
  !*  position: absolute;*!
  top: 0;
  right: 0;
  z-index: 2;
  font-size: 0.813em;
  &:focus {
    width: 300px;
    z-index: 1;
    border-bottom: 2px solid #F9F0DA;
  }
}

#search-submit {
  background: #683B4D;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 0;
  background: none;
  padding: 0;
  margin: 0;
}*/
/*#search-icon {
  color: $icon;
  cursor: pointer;
  &:hover {
    color: $yellow;
  }
}*/
.search-relative {
  position: relative; }

.d6 {
  background: #B46381; }

.d6 form {
  height: 42px; }

.d6 input {
  height: 100%;
  width: 0;
  padding: 0 42px 0 15px;
  border: none;
  border-bottom: 2px solid transparent;
  outline: none;
  background: transparent;
  transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; }

.d6 input:focus {
  width: 300px;
  z-index: 1;
  border-bottom: 2px solid #F9F0DA; }

.d6 button {
  background: #683B4D;
  border: none;
  height: 42px;
  width: 42px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer; }

.d6 button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA; }

/*.search-head button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}*/
.back-blue {
  background: #0183de; }

.navbar-default {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  margin: 0;
  padding: 0; }

.navbar-right {
  padding: 30px 0; }

.navbar-default .navbar-nav > li > a.select-connect {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }

.navbar-default .navbar-nav > li > a {
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
  color: #fff; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #fff; }
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff; }
  .navbar-default .navbar-nav > li > a .nav-name:hover {
    color: #fff; }

.navbar-default .navbar-nav > li > a.nav-map {
  padding-top: 5px;
  margin-left: 14px;
  margin-right: 28px; }

.menu-link {
  border-bottom: 2px solid transparent; }
  .menu-link:hover {
    border-bottom: 2px solid #fff; }

.navbar-brand {
  height: 100%;
  padding: 20px 10px; }

.navbar-brand > img {
  width: 100%; }

.nav-name {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1em;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
  color: #e0e0e0;
  text-transform: uppercase;
  padding: 22px 0; }

.nav-index {
  font-weight: 600;
  border-bottom: 2px solid transparent; }

/* SEARCH SERVICES */
.search-row {
  /*padding-top: 4px;*/
  position: relative;
  top: 4px; }
  .search-row .chosen-container {
    background: #fff;
    padding: 15px 30px 17px 22px;
    font-size: 1.125em; }

.angles-row {
  padding-left: 29px;
  padding-right: 29px; }

/* Services boxes */
.services-box-1 {
  float: left;
  width: 37.9%;
  padding: 0 8px; }

.services-box-2 {
  float: left;
  width: 38.4%;
  padding: 0 11px; }

.services-box-3 {
  float: left;
  width: 24.5%;
  padding: 0 8px;
  position: absolute;
  right: 0;
  bottom: 0; }
  .services-box-3 button {
    bottom: 0;
    top: auto;
    left: auto;
    right: auto;
    color: #fff; }

.search-label {
  color: #fff;
  font-size: 1.250em;
  margin-bottom: 15px;
  font-weight: 700; }

/* VIEW ALL */
.view-all {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1.625em;
  font-style: normal;
  font-stretch: normal;
  color: #0183de;
  margin-bottom: 17px;
  margin-top: 0;
  text-align: right; }
  .view-all:hover {
    color: #efaf03; }

/* SERVICES CONTAINER */
.services {
  padding: 115px 38px 50px 50px; }

/* SERVICE ITEMS */
.sevice-item {
  background: transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-top: 15px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 15px;
  min-height: 226px; }
  .sevice-item:hover {
    background: #fff; }
  .sevice-item a {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .sevice-item img {
    margin-bottom: 20px;
    height: 61px; }
  .sevice-item p {
    padding-left: 8px;
    padding-right: 25px; }

/* NEWS */
.news {
  padding-top: 37px; }

.news-head {
  padding: 0 23px 19px 34px; }

.news-row {
  padding-left: 6px;
  padding-right: 6px; }

.important-item {
  background: transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-right: 80px;
  min-height: 220px;
  position: relative;
  padding-top: 26px;
  padding-left: 30px;
  padding-right: 85px;
  padding-bottom: 15px; }
  .important-item:hover {
    background: #fff; }
  .important-item p {
    line-height: 1.3; }

.read-next {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 0.75em;
  font-style: normal;
  font-stretch: normal;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  right: 30px;
  bottom: 25px;
  display: none; }
  .read-next a {
    color: #0183de; }

.important-item:hover .read-next {
  display: block; }

/* EVENTS */
.event-item {
  padding-left: 30px;
  padding-top: 26px;
  padding-right: 15px;
  min-height: 220px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .event-item img {
    width: 100%; }
  .event-item:hover {
    background: #fff; }

.event-date {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 0.75em;
  font-style: normal;
  font-stretch: normal; }

/* FAQ */
.questions {
  padding-top: 58px; }

.questions-head {
  padding: 0 23px 3px 34px; }

.questions-row {
  padding-left: 6px;
  padding-right: 6px;
  padding-bottom: 88px; }

/* TABS */
.tab-arrow {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #efaf03;
  position: absolute;
  bottom: 0;
  left: calc(50% - 10px);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: -1;
  opacity: 0; }

.nav-tabs {
  border: none; }

.nav-tabs > li {
  position: relative; }
  .nav-tabs > li:hover .tab-arrow {
    bottom: -10px;
    opacity: 1; }

.nav-tabs > li.active .tab-arrow {
  bottom: -10px;
  border-top: 10px solid #a2a2a2;
  opacity: 1; }

.nav-tabs > li > a {
  border-radius: 0;
  line-height: 0.9;
  color: #282828;
  background: #fff;
  border: none;
  cursor: pointer;
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 1.25em;
  font-style: normal;
  font-stretch: normal;
  padding-top: 19px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  margin-right: 19px; }
  .nav-tabs > li > a:hover {
    background: #efaf03; }

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #fff;
  background: #a2a2a2;
  border: none;
  cursor: default; }

/* TAB CONTENT */
.tab-pane {
  padding-top: 34px; }

.panel-group .panel {
  background: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
  margin-bottom: 25px; }

.panel-default > .panel-heading {
  background: transparent;
  border-radius: 0;
  border: none;
  padding: 0; }

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
  background: transparent;
  border-radius: 0;
  border: none;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px; }

.panel-title > a {
  background: #fff;
  width: 100%;
  display: inline-block;
  font-weight: 700;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 25%; }

.panel-title > a.collapsed {
  font-weight: 400;
  background: transparent; }

.panel-title {
  line-height: 1.16; }

.panel-collapse {
  background: #fff; }

/* FOOTER */
footer {
  padding-top: 32px;
  padding-bottom: 44px;
  background: #595959; }
  footer p {
    font-size: 0.875em;
    color: #fff;
    line-height: 1.3;
    margin-top: 0;
    margin-bottom: 11px; }

.footer-data {
  padding-left: 52px;
  padding-right: 52px; }

.footer-side {
  min-height: 209px; }

.contact-link {
  color: #fff;
  cursor: pointer;
  font-weight: 700; }
  .contact-link:hover {
    color: #efaf03; }

.skype-link {
  color: #efaf03;
  text-decoration: underline; }
  .skype-link:hover {
    text-decoration: underline;
    color: #0183de; }

.social-links {
  margin: 0 0 10px 0;
  padding: 0;
  list-style: none; }
  .social-links li {
    display: inline-block; }
  .social-links a {
    color: #fff;
    font-size: 1.500em; }
    .social-links a:hover {
      color: #efaf03; }

.nav-tabs.organ-partners {
  margin-top: 30px; }

.nav-tabs.organ-partners > li > a {
  background: transparent;
  color: #a3a3a3;
  padding-top: 10px;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 12px;
  margin-right: 6px;
  font-size: 1.313em;
  font-weight: 600; }
  .nav-tabs.organ-partners > li > a:hover {
    background: transparent;
    color: #fff; }
  .nav-tabs.organ-partners > li > a:focus {
    background: transparent; }

.nav-tabs.organ-partners > li.active > a {
  color: #fff; }

.nav-tabs.organ-partners > li > a.footer-trident {
  background: transparent;
  padding: 0;
  cursor: default;
  margin-right: 22px; }

.footer-pane {
  padding-top: 24px;
  padding-left: 15px; }

/* FOOTER LINKS */
.footer-links {
  margin: 0;
  padding: 0; }
  .footer-links li {
    float: left;
    width: 48%;
    /*list-style: url('../img/icons/list.gif') outside;*/
    list-style: none;
    background: url("../img/icons/list.gif") no-repeat left 40%;
    padding-left: 31px;
    padding-right: 5px;
    margin-bottom: 12px;
    margin-right: 2%;
    line-height: 1.2;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    /*-ms-transition: all 0.4s ease;*/
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease; }
    .footer-links li:hover {
      background: #efaf03; }
    .footer-links li a {
      font-size: .836em;
      color: #fff; }

/* BOTTOM MENU */
.bottom-menu {
  background: #373737; }

.bottom-row {
  padding-left: 37px;
  padding-right: 37px; }
  .bottom-row p {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 0.8750em;
    color: #909090; }

.bottom-links {
  margin: 0;
  padding: 0;
  list-style: none; }
  .bottom-links li {
    display: inline-block;
    margin-right: 21px; }
    .bottom-links li a {
      font-size: 0.8750em;
      display: inline-block;
      padding-left: 2px;
      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 2px;
      color: #909090; }
      .bottom-links li a:hover {
        color: #fff; }

/* FIXES */
.padding-fix {
  padding-right: 0;
  padding-left: 0; }

.padding-left-fix {
  padding-left: 0; }

.padding-image-fix {
  padding-left: 7px;
  padding-right: 27px; }

.padding-footer-fix {
  padding-left: 7px;
  padding-right: 0; }

.padding-event-fix {
  padding-right: 5px; }

.padding-aside {
  padding-left: 38px; }
