/*VARIABLES */
/* MIXINS */
/* MAIN STYLES */
body {
  font-size: 16px;
  font-family: "Proxima Nova";
  color: #282828;
  overflow-y: scroll;
  background: #f1f0f0; }

/* HEADERS */
h2 {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1.625em;
  font-style: normal;
  font-stretch: normal;
  margin-bottom: 17px;
  margin-top: 8px;
  line-height: 0.8;
  color: #a2a2a2; }

h3 {
  font-family: "Proxima Nova";
  font-weight: 700;
  font-size: 1.25em;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 0;
  color: #282828; }

/* LINKS */
a {
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  color: #282828; }
  a:hover {
    text-decoration: none;
    color: inherit; }
  a:focus {
    text-decoration: none;
    color: inherit; }

/* FORMS */
/* SELECT */
.chosen-container-single .chosen-single {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none; }

.chosen-container .chosen-drop {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none; }

.chosen-container-active.chosen-with-drop .chosen-single {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none; }

.select-connect .chosen-container {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1.5em;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.83; }

.select-connect .chosen-container-single .chosen-single {
  color: #fff; }

.button-regular {
  background: #efaf03;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.250em;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 17px 0;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .button-regular:hover {
    background: #0183de; }

/* MENU */
header {
  background: #0183de;
  max-height: 247px; }

.back-head {
  background: #e0e0e0;
  padding: 3px 15px; }

.navigation-head {
  padding: 0;
  margin: 0;
  float: right; }
  .navigation-head li {
    display: inline-block; }

.link-search {
  margin-right: 34px; }

.link-lang {
  margin-left: 5px; }

.back-blue {
  background: #0183de; }

.navbar-default {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background: transparent;
  margin: 0;
  padding: 0; }

.navbar-right {
  padding: 30px 0; }

.navbar-default .navbar-nav > li > a.select-connect {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0; }

.navbar-default .navbar-nav > li > a {
  padding-bottom: 3px;
  padding-left: 0;
  padding-right: 0;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 12px;
  color: #fff; }
  .navbar-default .navbar-nav > li > a:hover {
    color: #fff; }
  .navbar-default .navbar-nav > li > a:focus {
    color: #fff; }
  .navbar-default .navbar-nav > li > a .nav-name:hover {
    color: #fff; }

.navbar-default .navbar-nav > li > a.nav-map {
  padding-top: 5px;
  margin-left: 14px;
  margin-right: 28px; }

.menu-link {
  border-bottom: 2px solid transparent; }
  .menu-link:hover {
    border-bottom: 2px solid #fff; }

.navbar-brand {
  height: 100%;
  padding: 20px 10px; }

.navbar-brand > img {
  width: 100%; }

.nav-name {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1em;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  text-align: left;
  color: #e0e0e0;
  text-transform: uppercase;
  padding: 22px 0; }

.nav-index {
  font-weight: 600;
  border-bottom: 2px solid transparent; }

/* SEARCH SERVICES */
.search-row {
  /*padding-top: 4px;*/
  position: relative;
  top: 4px; }
  .search-row .chosen-container {
    background: #fff;
    padding: 15px 30px 17px 22px;
    font-size: 1.125em; }

.angles-row {
  padding-left: 29px;
  padding-right: 29px; }

/* Services boxes */
.services-box-1 {
  float: left;
  width: 37.9%;
  padding: 0 8px; }

.services-box-2 {
  float: left;
  width: 38.4%;
  padding: 0 11px; }

.services-box-3 {
  float: left;
  width: 24.5%;
  padding: 0 8px;
  position: absolute;
  right: 0;
  bottom: 0; }
  .services-box-3 button {
    bottom: 0;
    top: auto;
    left: auto;
    right: auto; }

.search-label {
  color: #fff;
  font-size: 1.250em;
  margin-bottom: 15px;
  font-weight: 700; }

/* VIEW ALL */
.view-all {
  font-family: "Proxima Nova";
  font-weight: 600;
  font-size: 1.625em;
  font-style: normal;
  font-stretch: normal;
  color: #0183de;
  margin-bottom: 17px;
  margin-top: 0;
  text-align: right; }
  .view-all:hover {
    color: #efaf03; }

/* SERVICES CONTAINER */
.services {
  padding: 115px 38px 50px 50px; }

/* SERVICE ITEMS */
.sevice-item {
  background: transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  padding-top: 15px;
  padding-left: 23px;
  padding-right: 23px;
  padding-bottom: 15px;
  min-height: 226px; }
  .sevice-item:hover {
    background: #fff; }
  .sevice-item a {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .sevice-item img {
    margin-bottom: 20px;
    height: 61px; }
  .sevice-item p {
    padding-left: 8px;
    padding-right: 25px; }

/* NEWS */
.news {
  padding-top: 37px; }

.news-head {
  padding: 0 23px 19px 34px; }

.news-row {
  padding-left: 6px;
  padding-right: 6px; }

.important-item {
  background: transparent;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  margin-right: 80px;
  min-height: 220px;
  position: relative;
  padding-top: 26px;
  padding-left: 30px;
  padding-right: 85px;
  padding-bottom: 15px; }
  .important-item:hover {
    background: #fff; }
  .important-item p {
    line-height: 1.3; }

.read-next {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 0.75em;
  font-style: normal;
  font-stretch: normal;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  position: absolute;
  right: 30px;
  bottom: 25px;
  display: none; }
  .read-next a {
    color: #0183de; }

.important-item:hover .read-next {
  display: block; }

/* EVENTS */
.event-item {
  padding-left: 30px;
  padding-top: 26px;
  padding-right: 15px;
  min-height: 220px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  /*-ms-transition: all 0.4s ease;*/
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease; }
  .event-item img {
    width: 100%; }
  .event-item:hover {
    background: #fff; }

.event-date {
  font-family: "Proxima Nova";
  font-weight: 400;
  font-size: 0.75em;
  font-style: normal;
  font-stretch: normal; }

/* FIXES */
.padding-fix {
  padding-right: 0;
  padding-left: 0; }

.padding-left-fix {
  padding-left: 0; }

.padding-image-fix {
  padding-left: 7px;
  padding-right: 27px; }

.padding-event-fix {
  padding-right: 5px; }
