@media (max-width: 767px) {
  body {
    overflow-x: hidden;
    padding-top: 45px;
  }
  body.overflow-hidden {
    overflow: hidden !important;
    height: 100%;
    max-height: 100vh;
    -webkit-overflow-scrolling: auto;
    background: $blue-hover;
    .main-content {
      height: 100%;
      max-height: 100vh;
      overflow: hidden !important;
      -webkit-overflow-scrolling: auto;
    }
    .button-up {
      display: none;
    }
  }
  header {
    overflow-x: hidden;
  }
  article.indent {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.375em;
  }
  h3 {
    font-size: 1.125em;
    margin-bottom: 30px;
  }
  h5 {
    margin-bottom: 40px;
  }
  /**/
  .select-caret {
    .caret-down {
      display: block;
    }
  }
  /**/
  .indent {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 10px;
  }
  .row-indent {
    padding-left: 0;
    padding-bottom: 9px;
  }
  /**/
  .navigation-top {
    display: none;
  }
  .navigation-main {
    padding: {
      left: 0;
      right: 0;
    }
  }
  /*NAVIGATION*/
  .nav-logo {
    display: none;
  }
  .main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 45px;
    background: $a-gray;
  }
  .header-buttons {
    margin: 0;
    right: 5px;
  }

  .primary-nav, .secondary-nav {
    margin-top: 0;
    padding-left: 0;
    background: $blue-hover !important;
    z-index: 198;
    /*z-index: 100;
    width: 275px;*/
  }
  .primary-nav ul {
    background: $blue-hover !important;
    width: 100%;
    /*min-height: 100vh;*/
  }
  .primary-nav a, .primary-nav ul a {
    border-bottom: 0;
    font-size: 1.125em;
  }
  .header-search {
    display: block;
  }
  .secondary-nav {
    span {
      width: 100%;
    }
    .phone-number {
      width: 100%;
    }
  }
  .primary-nav > li > a.nav-map {
    .icon-text {
      display: inline-block;
      font-size: 1.111em;
      font-weight: 600;
      line-height: 1.2;
      position: relative;
      top: 3px;
      left: 9px;
    }
  }

  .primary-nav > li.nav-number > a {
    font-size: 1.5em;
    font-weight: 600;
  }
  .primary-nav > li.mobile-lang {
    display: block;
  }
  .primary-nav > li.mobile-social {
    display: block;
  }

  /*VIEW ALL */
  .row-view-all {
    display: block;
  }

  /*SERVICES*/
  .mobile-logo {
    display: block;

  }
  .search-row {
    position: static;
    padding-left: 0;
    padding-right: 0;
  }
  .services-box-1, .services-box-2, .services-box-3 {
    width: 100%;
    position: static;
    margin-bottom: 40px;
    padding: 0;
  }
  .services-box-1 {
    margin-bottom: 29px;
  }
  .head-row {
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
  /**/
  .breadcrumbs.right-panel {
    margin-right: 0;
    float: left;
    li {
      .news-date {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
  .filter-links {
    display: block;
    margin: 0;
    li {
      a {
        width: 244px;
        margin-right: 15px;
      }
    }
  }


  /*SERVICES BLOCK*/
  .services {
    padding: {
      top: 68px;
      bottom: 10px;
      left: 0;
      right: 0;
    }
  }
  .service-item {
    padding-left: 0;
    padding-right: 0;
    p {
      padding-right: 0;
      font-size: .875em;
    }
    &:hover {
      background: transparent;
    }
  }
  .sprite-top {
    left: 0;
    opacity: 1;
  }
  /*NEWS*/

  .important-item {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    margin-right: 0;
    min-height: 410px;
    background: $white;
    width: 244px;
    margin-left: 15px;
    margin-bottom: 10px;
    .content-item {
      height: 285px;
    }
  }

  .read-next {
    display: block;
    bottom: 32px;
    right: 30px;
    font-size: .875em;
  }
  .event-item {
    min-height: 410px;
    background: $white;
    padding-top: 34px;
    padding-right: 30px;
    margin-bottom: 31px;
    width: 244px;
    margin-left: 15px;
    margin-right: 0;
    margin-bottom: 10px;
    img {
      margin-top: 0;
      margin-bottom: 20px;
    }
    .content-item {
      height: 192px;
    }
    .event-date {
      right: 15px;
      bottom:-49px;
    }
    .read-next {
      bottom: -50px;
    }
  }

  .img-container {
    width: 75px;
    img {
      width: auto;
      height: 75px;
    }
  }

  /*NEWS WIDTH*/
  .item-width {
    .important-item, .event-item {
      width: 244px;
      margin-right: 0px;
      &:nth-child(even) {
        float: left;
      }
    }
    .event-item {
      margin-right: 15px;
      .padding-event-fix {
        padding-left: 15px;
        padding-right: 15px;
      }
      .event-date {
        left: 15px;
      }
    }
  }

  /*TABS*/
  .nav-tabs div {
    float: none;
  }
  .nav-tabs div a {
    padding: {
      left: 20px;
      right: 15px;
      top: 16px;
      bottom: 18px;
    }
    display: inline-block;
    height: 70px;
    width: 244px;
    line-height: 1;
  }

  .tab-div {
    margin-bottom: 10px;
  }

  .tab-arrow {
    display: none;
  }

  .nav-tabs div.slider-slide {
    max-width: 240px;
    margin-left: 15px;
  }
  .panel-title > a {
    padding-left: 20px;
    padding-right: 30px;
    .caret-down {
      right: 7%;
    }
  }
  .panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    padding-left: 20px;
    padding-right: 20px;
  }

  /* button up */
  .button-up {
    bottom: 15px;
    right: 15px;
  }

  /*FIXES*/
  .padding-fix {
    padding-left: 15px;
    padding-right: 15px;
    /*
        margin-right: -15px;*/
  }
  .padding-image-fix {
    padding-left: 15px;
    padding-right: 15px;
  }
  .padding-event-fix {
    padding-left: 15px;
    padding-right: 15px;
  }
  .padding-right-fix {
    padding-left: 15px;
    padding-right: 15px;
  }
  .padding-footer-fix {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*SLIDERS*/

  .slider-list {
    overflow-y: visible;
    margin-right: -15px;
  }

  .slider-dots li button::before {
    font-size: 10px;
  }

  #filter-slider {
    margin-right: -15px;
    padding-bottom: 40px;
    padding-left: 15px;
    padding-top: 8px;
    margin-bottom: 0;
  }

/*  #news-slider {
    min-height: 520px;
    margin-right: -15px;
  }
  #event-slider {
    min-height: 444px;
    margin-left: 0;
    margin-right: -15px;
    overflow: hidden;
    .slider-dots {
      bottom: 20px;
    }
  }
  #accordion-slider {
    margin-left: 0;

    min-height: 130px;
    overflow: hidden;
    .slider-dots {
      bottom: 0;
    }
  }
  #footer-slider {
    min-height: 115px;
    .slider-dots {
      bottom: 5px;
    }
  }


  .slider-dots {
    bottom: 85px;
  }

  .slider-dotted.slider-slider {
    margin-bottom: 0;
  }

  */

  /* FOOTER */
  footer {
    margin-top: 45px;
    max-height: inherit;
  }
  .footer-data {
    padding-left: 0;
    padding-right: 0;
  }
  .nav > li.footer-trident, .nav > li.footer-separator {
    display: none;
  }

  /*.footer-side {
    min-height: 245px;
  }*/
  .padding-aside {
    .footer-side {
      padding-top: 26px;
      min-height: 300px;
    }
    p {
      margin-bottom: 43px;
    }
  }
  .padding-aside {
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer-button {
    display: none;
  }
  .bottom-row {
    padding-right: 0;
    padding-left: 0;
  }
  .navigation-bottom {
    padding-left: 0;
    padding-right: 0;
    padding-top: 35px;
    p {
      display: inline-block;
      font-size: 1.125em;
    }
  }
  .bottom-links li {
    float: left;
    width: 50%;
    margin-right: 0;
    a {
      padding: {
        top: 4px;
        bottom: 4px;
        left: 0;
        right: 0;
      }
    }
  }

  .footer-pane {
    padding-left: 0;
  }
  .footer-links li {
    display: block;
    width: 100%;
    background: $c-gray none;
    margin: {
      left: 0;
      right: 0;
    }
    padding: 0;

    a {
      display: inline-block;
      width: 100%;
      min-height: 50px;
      padding: {
        left: 30px;
        right: 30px;
        top: 19px;
        bottom: 18px;
      }
      font-size: 1em;
      color: $black-text;
      &:hover {
        color: $white;
      }
    }
  }
  .nav-tabs.organ-partners {
    margin-right: -15px;
  }
  .nav-tabs.organ-partners li a {
    background: #676767;
    color: $white;
    text-align: center;
    height: 49px;
    padding: {
      left: 0;
      right: 0;
      top: 16px;
      bottom: 16px;
    }
    line-height: 1;
    font-size: 1.125em;
    font-weight: 600;
    margin-bottom: 10px;
  }
  .nav-tabs.organ-partners li.active a {
    background: $yellow;
  }
}