@media (min-width: 1200px) {
  .container {
    width: 1208px;
  }
  //
  .print-icon {
    display: block;
  }
  //size panel
  .size-panel {
    display: block;
  }
  footer {
    margin-top: 42px;
  }
  .go-back {
    display: none;
  }
}