.selection-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;

  background: $white;
  padding: 15px 30px 17px 22px;
  font-size: 1.125em;

  &:after {
    content: "";
    position: absolute;
    left: auto;
    right: 40px;
    top: 43%;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid $text;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    z-index: 2;
    opacity: 1;
    transform: rotate(0deg);
  }
}

.selection-container * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.selection-container.selection-container-active {
  &:after {
    transform: rotate(-180deg);
  }
}

.selection-container .selection-drop {
  position: absolute;
  top: 100%;
  left: -9999px;
  z-index: 1010;
  width: 100%;

  background: $white;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-bottom: 15px;
  display: none;
}

.selection-container.selection-with-drop .selection-drop {
  left: 0;
  background: $white;
}

.selection-container a {
  cursor: pointer;
}

.selection-container .search-choice .group-name, .selection-container .selection-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #999999;
}

.selection-container .search-choice .group-name:after, .selection-container .selection-single .group-name:after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

.selection-container-single .selection-single {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0 0 0 8px;
  height: 25px;
  background-clip: padding-box;
  color: #444;
  text-decoration: none;
  white-space: nowrap;
  line-height: 24px;

  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  font-weight: 400;
}

.selection-container-single .selection-default {
  color: #999;
}

.selection-container-single .selection-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.selection-container-single .selection-single-with-deselect span {
  margin-right: 38px;
}

.selection-container-single .selection-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../img/sprites/sselection-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}

.selection-container-single .selection-single abbr:hover {
  background-position: -42px -10px;
}

.selection-container-single.selection-disabled .selection-single abbr:hover {
  background-position: -42px -10px;
}
.selection-container-single .selection-single div {
  display: none;
}

.selection-container-single .selection-search {
  position: relative;
  z-index: 1010;
  margin: 0;
  padding: 3px 4px;
  white-space: nowrap;
}

.selection-container-single .selection-search input[type="text"] {
  margin: 1px 0;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0;
  border: 1px solid #aaa;
  background: white url('../img/sprites/selection-sprite.png') no-repeat 100% -20px;
  background: url('../img/sprites/selection-sprite.png') no-repeat 100% -20px;
  font-size: 1em;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.selection-container-single .selection-drop {
  margin-top: -1px;
  border-radius: 0 0 4px 4px;
  background-clip: padding-box;
}

.selection-container-single.selection-container-single-nosearch .selection-search {
  position: absolute;
  left: -9999px;
}

.selection-container .selection-results {
  color: #444;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 4px 4px 0;
  padding: 0 0 0 4px;
  max-height: 240px;
  -webkit-overflow-scrolling: touch;

  padding: 0;
  margin: 0;
}

.selection-container .selection-results li {
  display: none;
  margin: 0;
  list-style: none;
  line-height: 15px;
  word-wrap: break-word;
  -webkit-touch-callout: none;
  padding: 5px 6px 5px 8px;
}

.selection-container .selection-results li.active-result {
  display: list-item;
  cursor: pointer;

  color: $select;
  padding: {
    top: 12px;
    left: 30px;
    right: 30px;
    bottom: 12px;
  }
  line-height: 1.3;
}

.selection-container .selection-results li.disabled-result {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.selection-container .selection-results li.highlighted {
  background: $white;
  color: $text;
  cursor: pointer;
}

.selection-container .selection-results li.no-results {
  color: #777;
  display: list-item;
  background: #f4f4f4;
}

.selection-container .selection-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

.selection-container .selection-results li.group-option {
  padding-left: 15px;
}

.selection-container .selection-results li.result-selected {
  display: none;
}

.selection-container .selection-results li em {
  font-style: normal;
  text-decoration: underline;
}

.selection-container-multi .selection-choices {
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0 5px;
  width: 100%;
  height: auto;
  border: 1px solid #aaa;
  background-color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(1%, #eeeeee), color-stop(15%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -moz-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: -o-linear-gradient(#eeeeee 1%, #ffffff 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  cursor: text;
}

.selection-container-multi .selection-choices li {
  float: left;
  list-style: none;
}

.selection-container-multi .selection-choices li.search-field {
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.selection-container-multi .selection-choices li.search-field input[type="text"] {
  margin: 1px 0;
  padding: 0;
  height: 25px;
  outline: 0;
  border: 0 !important;
  background: transparent !important;
  box-shadow: none;
  color: #999;
  font-size: 100%;
  font-family: sans-serif;
  line-height: normal;
  border-radius: 0;
}

.selection-container-multi .selection-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0;
  padding: 3px 20px 3px 5px;
  border: 1px solid #aaa;
  max-width: 100%;
  border-radius: 3px;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  line-height: 13px;
  cursor: default;
}

.selection-container-multi .selection-choices li.search-choice span {
  word-wrap: break-word;
}

.selection-container-multi .selection-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url('../img/sprites/selection-sprite.png') -42px 1px no-repeat;
  font-size: 1px;
}

.selection-container-multi .selection-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

.selection-container-multi .selection-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid #ccc;
  background-color: #e4e4e4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
}

.selection-container-multi .selection-choices li.search-choice-focus {
  background: #d4d4d4;
}

.selection-container-multi .selection-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

.selection-container-multi .selection-results {
  margin: 0;
  padding: 0;
}

.selection-container-multi .selection-drop .result-selected {
  display: list-item;
  color: #ccc;
  cursor: default;
}

.selection-container-active .selection-single {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.selection-container-active.selection-with-drop {
  background: $white;
}

.selection-container-active.selection-with-drop .selection-single {
  background: $white;
  border: 0;
  border-radius: 0;
  box-shadow: none;
}

.selection-container-active.selection-with-drop .selection-single div {
  border-left: none;
  background: transparent;
}

.selection-container-active.selection-with-drop .selection-single div b {
  background-position: -18px 2px;
}

.selection-container-active .selection-choices {
  border: 1px solid #5897fb;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.selection-container-active .selection-choices li.search-field input[type="text"] {
  color: #222 !important;
}

.selection-disabled {
  opacity: 0.5 !important;
  cursor: default;
}

.selection-disabled .selection-single {
  cursor: default;
}

.selection-disabled .selection-choices .search-choice .search-choice-close {
  cursor: default;
}

.selection-rtl {
  text-align: right;
}

.selection-rtl .selection-single {
  overflow: visible;
  padding: 0 8px 0 0;
}

.selection-rtl .selection-single span {
  margin-right: 0;
  margin-left: 26px;
  direction: rtl;
}

.selection-rtl .selection-single-with-deselect span {
  margin-left: 38px;
}

.selection-rtl .selection-single div {
  right: auto;
  left: 3px;
}

.selection-rtl .selection-single abbr {
  right: auto;
  left: 26px;
}

.selection-rtl .selection-choices li {
  float: right;
}

.selection-rtl .selection-choices li.search-field input[type="text"] {
  direction: rtl;
}

.selection-rtl .selection-choices li.search-choice {
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 19px;
}

.selection-rtl .selection-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

.selection-rtl.selection-container-single-nosearch .selection-search,
.selection-rtl .selection-drop {
  left: 9999px;
}

.selection-rtl.selection-container-single .selection-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

.selection-rtl .selection-results li.group-option {
  padding-right: 15px;
  padding-left: 0;
}

.selection-rtl.selection-container-active.selection-with-drop .selection-single div {
  border-right: none;
}

.selection-rtl .selection-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: white url('s../img/sprites/election-sprite.png') no-repeat -30px -20px;
  background: url('../img/sprites/selection-sprite.png') no-repeat -30px -20px;
  direction: rtl;
}

.selection-rtl.selection-container-single .selection-single div b {
  background-position: 6px 2px;
}

.selection-rtl.selection-container-single.selection-with-drop .selection-single div b {
  background-position: -12px 2px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 144dpi), only screen and (min-resolution: 1.5dppx) {
  .selection-rtl .selection-search input[type="text"],
  .selection-container-single .selection-single abbr,
  .selection-container-single .selection-single div b,
  .selection-container-single .selection-search input[type="text"],
  .selection-container-multi .selection-choices .search-choice .search-choice-close,
  .selection-container .selection-results-scroll-down span,
  .selection-container .selection-results-scroll-up span {
    background-image: url('../img/sprites/selection-sprite@2x.png') !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}


/*language select*/
.selection-container-single.selection-container-single-nosearch .selection-search {
  display: none;
}