/*BUTTON STYLES*/

.button-regular {
  background: $yellow;
  display: block;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.250em;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 14px 0 15px 0;
  @include transition;
  &:hover {
    background: $blue-hover;
  }
  &:focus {
    outline: none;
  }
}

.footer-button {
  background: $c-gray;
  line-height: 1.5;
  font-weight: 600;
  color: $black-text;
  width: 96%;
  padding: 9px 0 11px 0;
  font-size: 1.150em;
  &:hover {
    background: $yellow;
  }
  &:after {
    content: "";
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $c-gray;
    position: absolute;
    bottom: 37px;
    left: calc(50% - 10px);
    @include transition;
    z-index: -1;
    opacity: 0;
  }
}
.footer-button.selected-footer {
  &:after {
    z-index: 2;
    opacity: 1;
    bottom: 47px;
  }
}

.blue-button {
  background: $blue;
  color: $white;
  text-decoration: none;
  max-width: 300px;
  margin: 0 auto;
  display: block;
  padding: 18px 0 20px 0;
  &:hover {
    background: $yellow;
    color: $white;
  }
}

/* BUTTON UP */
.button-up {
  background: $c-gray;
  width: 46px;
  height: 46px;
  text-align: center;
  @include transition;
  position: fixed;
  right: 39px;
  bottom: 46px; /*94px*/
  display: none;
  z-index: 1000;
  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 12px;
  }
  &:hover {
    opacity: .2;
  }
}

.buttons-group {
  .button-regular {
    margin-top: 0 !important;
    width: 100%;
  }
}

.fluid-button {
  width: 100%;
  margin: 0 0 15px 0;
  max-width:100%;
}