/*BUTTON STYLES*/

.button-regular {
  background: $yellow;
  display: inline-block;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  font-size: 1.250em;
  font-weight: 700;
  text-align: center;
  width: 100%;
  padding: 14px 0 15px 0;
  @include transition;
  &:hover {
    background: $blue-hover;
  }
  &:focus {
    outline: none;
  }
}

.footer-button {
  background: $c-gray;
  line-height: 1.5;
  font-weight: 600;
  color: $black-text;
  width: 96%;
  padding: 9px 0 11px 0;
  font-size: 1.150em;
  &:hover {
    background: $yellow;
  }
}