/* FIXES */
.padding-fix {
  padding-right: 0;
  padding-left: 0;
}

.padding-left-fix {
  padding-left: 0;
}

.padding-right-fix {
  padding-right: 0;
}

.padding-image-fix {
  padding-left: 7px;
  padding-right: 27px;
}

.padding-footer-fix {
  padding-left: 7px;
  padding-right: 0;
}

.padding-event-fix {
  padding-right: 5px;
  padding-left: 13px;
}

.padding-aside {
  padding-left: 38px;
}