//italic
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima_Nova/ProximaNova-LightIt.eot');
  src: url('../fonts/Proxima_Nova/ProximaNova-LightIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima_Nova/ProximaNova-LightIt.woff') format('woff'),
  url('../fonts/Proxima_Nova/ProximaNova-LightIt.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima_Nova/ProximaNova-RegularIt.eot');
  src: url('../fonts/Proxima_Nova/ProximaNova-RegularIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima_Nova/ProximaNova-RegularIt.woff') format('woff'),
  url('../fonts/Proxima_Nova/ProximaNova-RegularIt.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.eot');
  src: url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.woff') format('woff'),
  url('../fonts/Proxima_Nova/ProximaNova-SemiboldIt.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima_Nova/ProximaNova-BoldIt.eot');
  src: url('../fonts/Proxima_Nova/ProximaNova-BoldIt.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima_Nova/ProximaNova-BoldIt.woff') format('woff'),
  url('../fonts/Proxima_Nova/ProximaNova-BoldIt.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

// normal
@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima_Nova/ProximaNova-Light.eot');
  src: url('../fonts/Proxima_Nova/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima_Nova/ProximaNova-Light.woff') format('woff'),
  url('../fonts/Proxima_Nova/ProximaNova-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima_Nova/ProximaNova-Regular.eot');
  src: url('../fonts/Proxima_Nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima_Nova/ProximaNova-Regular.woff') format('woff'),
  url('../fonts/Proxima_Nova/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima_Nova/ProximaNova-Semibold.eot');
  src: url('../fonts/Proxima_Nova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima_Nova/ProximaNova-Semibold.woff') format('woff'),
  url('../fonts/Proxima_Nova/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url('../fonts/Proxima_Nova/ProximaNova-Bold.eot');
  src: url('../fonts/Proxima_Nova/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Proxima_Nova/ProximaNova-Bold.woff') format('woff'),
  url('../fonts/Proxima_Nova/ProximaNova-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}