/*FORM STYLES*/

/*input styles*/
input {
  -webkit-appearance: none;
  border: none;
  padding: 5px 10px;
  outline: none;
}

/*search input*/
.search-relative {
  position: relative;
  right: 17px;
}

.search-head {
  form {
    height: 21px;
  }
  button {
    background: transparent;
    border: none;
    height: 31px;
    width: 31px;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    cursor: pointer;
    outline: none;
    z-index: 2;
    color: $icon;
    &:hover {
      color: $blue;
    }
  }
  input {
    height: 27px;
    width: 0;
    padding: 0 31px 0 15px;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 3;
    margin: 2px 0 2px 0;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 215px;
      background: $white;
      right: 30px;
      z-index: 0;
    }
  }

}

/*SEARCH MOBILE*/
.search-relative.mobile-search {
  display: none;
  .search-head form {
    height: 24px;
    position: relative;
    top: 6px;
    left: 15px;
    width: 75%;
  }

  .search-head {
    input {
      height: 29px;
      left: 0;
      right: auto;
      &:focus {
        width: 180px;
        left: 35px;
        right: auto;
      }
    }
    button {
      left: 0;
      right: auto;
      font-size: 24px;
    }
  }
}

//search result
.search-form-main {
  position: relative;
  top: -15px;
  left: -50px;
  width: 300px;
  display: inline-block;
  input {
    @include regular-text(700, 1.250em);
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 43px;
    color: $text;
    width: 100%;
    padding: {
      left: 17px;
      right: 50px;
      bottom: 18px;
      top: 15px;
    }
  }
  button {
    position: absolute;
    right: 0;
    color: $blue-hover;
    font-size: 24px;
    right: 17px;
    top: 9px;
    background: transparent;
    border: none;
    &:hover {
      color: $yellow;
    }

  }
}

/*select*/

select {
  background: $white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: $text;
  padding: {
    top: 17px;
    left: 25px;
    right: 25px;
    bottom: 17px;
  }
  line-height: 1.14;
  width: 100%;
  font-size: 1.125em;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
}

/*chosen selection*/

.selection-container-single .selection-single { //main select style
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.selection-container .selection-drop { //collapsed style
  background: $white;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-bottom: 15px;
  display: none;
}

.selection-container-active.selection-with-drop {
  background: $white;
  .selection-single { //collapsed main style
    background: $white;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .selection-drop {
    background: $white;
  }
}

.selection-container .selection-results li.active-result {
  color: $select;
  padding: {
    top: 12px;
    left: 30px;
    right: 30px;
    bottom: 12px;
  }
  line-height: 1.3;
}

.selection-container .selection-results li.result-selected, .selection-container .selection-results li.highlighted {
  background: $white;
  color: $text;
  cursor: pointer;
}

.selection-container .selection-results li.result-selected {
  display: none;
}

.selection-container .selection-results {
  padding: {
    left: 0;
    right: 0;
  }
  margin: {
    left: 0;
    right: 0;
    bottom: 0;
  }
  li {
    padding-left: 8px;
  }
}

/*language select*/

.link-lang {
  margin-left: 4px;
  select {
    background: transparent;
    &:focus {
      outline: none;
    }
  }
  .selection-container {
    padding: 0;
    .selection-drop {
      padding-bottom: 0;
    }
  }
  .selection-container-active.selection-with-drop {
    background: $white;
    .selection-drop {
      background: $b-gray;
    }
  }
  .selection-container .selection-results li.result-selected, .selection-container .selection-results li.highlighted {
    background: $white;
    color: $text;
  }
  .selection-container .selection-results {
    padding: {
      left: 0;
      right: 0;
    }
    margin: {
      left: 0;
      right: 0;
      bottom: 0;
    }
    li {
      padding: 5px 8px;
    }
  }
}

/*slect carets*/
.select-caret {
  position: relative;
  .caret-down {
    display: none;
    top: 30%;
    right: 5%
  }
}

.mobile-lang.select-caret {
  .caret-down {
    right: 62%;
    color: $white;
    top: 25%;
  }
}

.caret {
  margin-left: 14px;
}

