/*FORM STYLES*/

/*input styles*/
input {
  -webkit-appearance: none;
  border: none;
  padding: 5px 10px;
  &:focus {
    outline: none;
  }
}

/*search input*/
.search-relative {
  position: relative;
  right: 17px;
}

.search-head {
  form {
    height: 21px;
  }
  input {
    height: 27px;
    width: 0;
    padding: 0 42px 0 15px;
    border: none;
    outline: none;
    background: transparent;
    transition: .4s cubic-bezier(0, 0.8, 0, 1);
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    z-index: 3;
    margin: 2px 0;
    &:hover {
      cursor: pointer;
    }
    &:focus {
      width: 215px;
      background: $white;
      right: 30px;
    }
  }
  button {
    background: transparent;
    border: none;
    height: 31px;
    width: 31px;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
    cursor: pointer;
    outline: none;
    z-index: 2;
    color: $icon;
    &:hover {
      color: $blue;
    }
  }
}

/*SEARCH MOBILE*/
.search-relative.mobile-search {
  display: none;
  .search-head form {
    height: 24px;
    position: relative;
    top: 6px;
    left: 15px;
    width: 75%;
  }

  .search-head {
    input {
      height: 29px;
      left: 0;
      right: auto;
      &:focus {
        width: 180px;
        left: 35px;
        right: auto;
      }
    }
    button {
      left: 0;
      right: auto;
      font-size: 24px;
    }
  }
}

/*select*/

select {
  background: $white;
  border: none;
  border-radius: 0;
  box-shadow: none;
  outline: none;
  color: $text;
  padding: {
    top: 17px;
    left: 25px;
    right: 25px;
    bottom: 17px;
  }
  line-height: 1.14;
  width: 100%;
  font-size: 1.125em;
  background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#fff));
  -webkit-appearance: none;
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
  &:focus {
    outline: none;
  }
}

/*chosen selection*/

@import "../../package/chosen/chosen";

.chosen-container-single .chosen-single { //main select style
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  outline: none;
}

.chosen-container .chosen-drop { //collapsed style
  background: $white;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-bottom: 15px;
}

.chosen-container-active.chosen-with-drop {
  background: $white;
  .chosen-single { //collapsed main style
    background: $white;
    border: 0;
    border-radius: 0;
    box-shadow: none;
  }
  .chosen-drop {
    background: $white;
  }
}

.chosen-container .chosen-results li.active-result {
  color: $select;
  padding: {
    top: 12px;
    left: 30px;
    right: 30px;
    bottom: 12px;
  }
  line-height: 1.3;
}

.chosen-container .chosen-results li.result-selected, .chosen-container .chosen-results li.highlighted {
  background: $white;
  color: $text;
  cursor: pointer;
}

.chosen-container .chosen-results li.result-selected {
  display: none;
}

.chosen-container .chosen-results {
  padding: {
    left: 0;
    right: 0;
  }
  margin: {
    left: 0;
    right: 0;
    bottom: 0;
  }
  li {
    padding-left: 8px;
  }
}

/*language select*/

.link-lang {
  margin-left: 4px;
  select {
    background: transparent;
    &:focus {
      outline: none;
    }
  }
  .chosen-container {
    padding: 0;
    .chosen-drop {
      padding-bottom: 0;
    }
  }
  .chosen-container-active.chosen-with-drop {
    background: $white;
    .chosen-drop {
      background: $b-gray;
    }
  }
  .chosen-container .chosen-results li.result-selected, .chosen-container .chosen-results li.highlighted {
    background: $white;
    color: $text;
  }
  .chosen-container .chosen-results {
    padding: {
      left: 0;
      right: 0;
    }
    margin: {
      left: 0;
      right: 0;
      bottom: 0;
    }
    li {
      padding: 5px 8px;
    }
  }
}

/*slect carets*/
.select-caret {
  position: relative;
  .caret-down {
    display: none;
    top:30%;
    right:5%
  }
}
.caret {
  margin-left: 14px;
}

