/* MAIN CSS STYLES */
body {
  font: {
    size: 16px;
    family: $font;
  }
  color: $text;
  background: $a-gray;
}

header {
  background: $blue;
  min-height: 122px;

}

section {
  background: $a-gray;
}

article.indent {
  padding: {
    left: 13.6%;
    right: 12.8%;
  }
  a {
    color:$blue;
    text-decoration: underline;
    font-weight: bold;
    &:hover {
      color: $yellow;
    }
  }
  .blue-button {
    color: $white;
    text-decoration: none;
    margin-top: 64px;
    margin-bottom: 30px;
    &:hover {
      color: $white;
    }

  }
  ul {
    padding-left: 0;
    margin-top: 13px;
    margin-bottom: 18px;
    list-style-type: none;
    li {
      margin-bottom: 1px;
    }
    li:before {
      content: "—";
      font-size: 23px;
      margin-right: 18px;
      color: $yellow;
    }
  }
}



/* fixed position when menu is opened */
.overflow-body {
  overflow-y: hidden !important;
  position: fixed !important;
}

/* text aligns */
.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

/* INDENTS */
.indent {
  padding: {
    top: 71px;
    bottom: 44px;
    left: 22px;
    right: 31px;
  }
}

.row-indent {
  padding: {
    top: 0;
    bottom: 19px;
    left: 27px;
    right: 0;
  }
}

/*images*/
.img-big {
  width: 100%;
  display: inline-block;
  margin-top: 43px;
  margin-bottom: 63px;
}

.img-small {
  display: inline;
  width: 48%;
  margin-top: 41px;
  margin-bottom: 41px;
  &:nth-child(even) {
    float: right;
  }
}
.img-small:after {
  clear: both;
}

/*video*/
.video-big{
  width: 100%;
  margin-top: 43px;
  margin-bottom: 51px;
}.video-small{
   width: 48%;
   margin-top: 41px;
   margin-bottom: 41px;
   &:nth-child(even) {
     float: right;
   }
 }
