/* MAIN CSS STYLES */
body {
  font: {
    size: 16px;
    family: $font;
  }
  color: $text;
  background: $a-gray;
}

header {
  background: $blue;
  min-height: 122px;
  .container {
    position: relative;
  }
}

section {
  background: $a-gray;

}

section.indent {
  padding: {
    left: 9.2%;
    right: 9.2%;
  }
}

article {
  position: relative;
  font-size: 1em;
  a {
    color: $blue;
    text-decoration: underline;
    font-weight: bold;
    &:hover {
      color: $yellow;
    }
  }
}

article.indent {

  padding: {
    left: 13.6%;
    right: 12.8%;
  }

  .blue-button {
    color: $white;
    text-decoration: none;
    margin-top: 64px;
    margin-bottom: 30px;
    &:hover {
      color: $white;
    }

  }
  ul {
    padding-left: 0;
    margin-top: 13px;
    margin-bottom: 18px;
    list-style: none;
    li {
      margin-bottom: 1px;
    }
    li:before {
      content: "—";
      font-size: 23px;
      margin-right: 18px;
      color: $yellow;
    }
  }
}

article.article-tab {
  padding-left: 12%;
  padding-right: 13%;
  padding-bottom: 61px;
}

/* fixed position when menu is opened */
.overflow-body {
  overflow-y: hidden !important;
  position: fixed !important;
}

/* text aligns */
.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

/* INDENTS */
.indent {
  padding: {
    top: 71px;
    bottom: 44px;
    left: 22px;
    right: 31px;
  }
}

.indent-tab {
  padding: {
    top: 71px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.indent-services {
  padding-bottom:0;
}

.indent-article-services {
  padding-top: 0;
}

.row-indent {
  padding: {
    top: 0;
    bottom: 19px;
    left: 27px;
    right: 0;
  }
}

.chief-row {
  padding-top: 19px;
  padding-bottom: 51px;
  .img-container {
    img {
      height: 250px;
    }
  }
}

/*images*/
.img-big, .img-small, .img-middle {
  cursor: pointer;
  @include transition;
  &:before {
    
  }
}
.img-big {
  width: 100%;
  display: inline-block;
  margin-top: 43px;
  margin-bottom: 63px;
}

.img-middle {
  display: inline;
  width: 48%;
  margin-top: 41px;
  margin-bottom: 41px;
  &:nth-child(even) {
    float: right;
  }
}

.img-small {
  display: inline;
  width: 24%;
  margin-right: 1%;
  margin-top: 41px;
  margin-bottom: 41px;
  &:last-child {
    float: right;
    margin-right: 0;
  }
}

.img-middle:after {
  clear: both;
}

/*video*/
.video-big {
  width: 100%;
  margin-top: 43px;
  margin-bottom: 51px;
}

.video-small {
  width: 48%;
  margin-top: 41px;
  margin-bottom: 41px;
  &:nth-child(even) {
    float: right;
  }
}
