/*MENU STYLES*/

.navigation-top {
  background: $b-gray;
  padding: 4px 15px;
  text-align: right;
  ul {
    list-style: none;
    margin: -5px 0 0 0;
    padding: 0;
    display: inline-block;
    &:nth-child(2) {
      li {
        a {
          color: $icon;
          font-size: 19px;
          position: relative;
          top: 2px;
          padding: 0 3px;
          &:hover {
            color: $blue;
          }

        }
      }
    }
    &:nth-child(3) {
      margin-left: 28px;
      li {
        a {
          @include regular-text(600, .875em);
          padding: 5px 9px 4px 9px;
          color: $blue-hover;
          &:hover {
            background: $blue;
            color: $white;
          }
        }
        .active-language {
          background: $white;
          color: $text;
          &:hover {
            background: $blue;
            color: $white;
          }
        }
      }
    }
    li {
      display: inline-block;
      a {
        display: inline-block;
        line-height: 1;
      }
    }
  }
}

.navigation-main {
  background: $blue;
}

.mobile-head {
  @include regular-text(600, 1em);
  line-height: 1.2;
  text-align: left;
  text-transform: uppercase;
  padding: 17px 0;
  color: $white;
  display: inline-block;
  &:hover {
    color: $white;
    opacity: .5;
  }
}

/*MAIN NAVIGATION*/

/*logo*/
.nav-logo {
  float: left;
  list-style: none;
  padding-left: 0;
  margin: 0;
  li {
    float: left;
  }
  img {
    width: 67px;
    height: 69px;
  }
  a {
    display: block;
  }
  .nav-logo-text {
    a {
      padding: {
        top: 39px;
        bottom: 10px;
        left: 29px;
        right: 10px;
      }
      font-weight: 600;
      line-height: 1.18;
      color: $white;
      text-transform: uppercase;
      &:hover {
        opacity: .5;
      }
    }
  }
  .nav-logo-img {
    a {
      padding-left: 11px;
      padding-top: 19px;
      padding-bottom: 30px;
      position: relative;
    }
    a img {
    }
    a svg {
      float: left;
      position: absolute;
      top: 19px;
      left: 11px;
    }
  }
}

/*menu items*/
.nav-number {
  a {
    font-size: 1.500em;
    font-weight: 600;
    color: $white;
  }
}

.header-search {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  height: 45px;
  left: 9px;
  min-width: 50px;
  .search-relative {
    position: static;
    height: 45px;
    display: block;
    form {
      height: 45px;
      input {
        height: 41px;
        right: auto;
        border-radius: 0;
        &:focus {
          width: 180px;
          left: 50px;
          right: auto;
        }
      }
      button {
        width: auto;
        height: 45px;
        position: static;
        i {
          font-size: 25px;
        }
      }
    }
  }

}

.secondary-nav {
  span {
    width: 49%;
    float: left;
    display: block;
  }
  .phone-number {
    display: inline-block;
    float: right;
    font-weight: 300;
    font-size: 1.143em;
    width: 51%;
    text-align: right;
  }
}

.has-children a {
  position: relative;
}

.primary-nav > li.mobile-lang {
  display: none;
  a {
    display: inline-block;
    font-weight: 600;
  }
}

.primary-nav > li.mobile-social {
  display: none;
  text-align: center;
  a {
    display: inline-block;
    font-size: 30px;
  }
}