/*TYPOGRAPHY STYLES */
b,
strong {
  font-weight: bold;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}

/* headers */
h1 {
  @include regular-text(700, 1.250em);
  color: $white;
  line-height: 1;
  margin-top: 9px;
  margin-bottom: 12px;
}

h2 {
  @include regular-text(600, 1.625em);
  margin-bottom: 26px;
  margin-top: 8px;
  line-height: 0.8;
  color: $c-gray;
}

.error404-header {
  position: relative;
  top:-15px;
  text-align: center;
  h2 {
    @include regular-text(600, 15.625em);
    line-height: 0.08;
    color: $error;
    display: inline-block;

  }
  p {
    font-size: 1.25em;
    margin-top: 40px;
  }
}

.service-header {
  color: $c-gray;
  padding-bottom: 8px;
  border-bottom: 3px solid $white;
}

.tab-name {
  margin-bottom: 35px;
}

h3 {
  @include regular-text(700, 1.250em);
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: 43px;
  color: $text;
}

h4 {
  @include regular-text(600, 1.250em);
  color: $white;
  margin-top: 0;
  margin-bottom: 15px;
}

h5 {
  margin-bottom: 31px;
  @include regular-text(600, 1.313em);
  color: $white;
}

/* paragraph */

p {
  margin: 0 0 23px 0;
  line-height: 1.3;
}

.bold-text {
  font-weight: 700;
  font-size: 1.125em;
}
.big-text {
  font-size: 1.125em;
}

.red-text {
  color: $red;
}

.display-block {
  display: block;
}

.text-underline {
  text-decoration: underline;
  font-weight: bold;
}

/* links */
a {
  @include transition;
  color: $text;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  &:hover {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }
  &:focus {
    text-decoration: none;
    color: inherit;
    outline: 0;
  }
  &:active {
    outline: 0;
  }
}

.phone-link {
  color: $text;
  text-decoration: none;
  font-weight: 400;
  &:hover {
    color: $yellow;
  }
}

.authority-link {
  color: $blue;
}

/*default lists*/

ol {
  list-style: none;
  padding: 0;
  margin-top: 23px;
  margin-bottom: 34px;
  li {
    counter-increment: item;
    margin-bottom: 12px;
    padding-left: 37px;
    position: relative;
    line-height: 1.25;
    &:before {
      margin-right: 19px;
      content: counter(item);
      background: $yellow;
      border-radius: 50%;
      color: $white;
      width: 1.2em;
      text-align: center;
      display: inline-block;
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 20px;
      font-size: .875em;
      padding-top: 1px;
    }
  }
}

/* rounded ul */
ul.rounded-list, article.indent ul.rounded-list {
  padding: 0 0 0 31px;
  margin-top: 23px;
  margin-bottom: 23px;
  list-style: url("../img/icons/rounded_li.png");
  li {
    padding-left: 6px;
    line-height: 1.25;
    margin-bottom: 12px;
    &:before {
      display: none;
    }
  }
}

.two-col-list {
  padding: 0 0 0 11px;
  columns: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
  li {
    margin-left: 20px;
    margin-right: 20px;
  }
}

/*size panel*/
.size-panel {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  top: 50px;
  right: 37px;
  li {
    display: inline-block;
    user-select: none;
    &:before {
      display: none;
    }
    a {
      text-decoration: none;
      text-align: center;
      display: inline-block;
      background: #dfdddd;
      color: #727272;
      font-weight: 700;
      width: 25px;
      height: 25px;
      font-size: 1.25em;
      user-select: none;
      &:hover {
        background: $yellow;
        color: $white;
      }
    }
    a.size-disabled {
      opacity: .5;
      cursor: default;
      &:hover {
        background: #dfdddd;
        color: #727272;
      }
    }
  }
}

/*quote*/
blockquote {
  display: block;
  padding: 48px 38px 34px;
  margin: 44px 0 35px;
  position: relative;
}

blockquote::before, blockquote::after {
  font-size: 60px;
  font-weight: bold;
  color: $yellow;
  position: absolute;
}

blockquote::before {
  content: "\201C";
  left: 0;
  top: 0;
}

blockquote::after {
  content: "\201D";
  right: 0;
  bottom: -20px;
}