#ukraine-map {
  width: 545px;
  height: 368px;
}

/* FIX for Crimea and Sevastopol */

.primary-nav .secondary-nav.display-nav li a svg g[data-region="38"] .st0 {
  &:hover {
    fill:$white;
    cursor: default;
  }
}

.primary-nav .secondary-nav.display-nav li a svg g[data-region="37"] .st0 {
  &:hover {
    fill:$blue-hover;
    stroke: transparent;
    cursor: default;
  }
}