$text: #282828; //regular text color
$black-text:#161616; //black text
$font: 'Proxima Nova Rg'; //main font
$blue: #0183de; //blue color
$yellow:#efaf03;
$a-gray: #f1f0f0; //light gray
$b-gray: #e0e0e0; //light middle gray
$c-gray: #a2a2a2; //hard gray
$d-gray: #595959; //hard middle gray
$e-gray: #373737; //dark gray

@mixin transition { //transition property
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

html {
  font-family: sans-serif;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font: {
    family: $font, sans-serif;
    size: 16px;
  }
  line-height: 1;

  margin: 0;

  color: $text;
  background-color: #fff;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

article,
footer,
header,
nav,
section {
  display: block;
}

canvas,
video {
  display: inline-block;

  vertical-align: baseline;
}

a {
  text-decoration: none;

  color: #fff;
  background-color: transparent;

  @include transition;
  &:hover {
    outline: 0;
    text-decoration: none;
    color: $text;
  }
  &:active {
    outline: 0;
    text-decoration: none;
  }
  &:focus {
    text-decoration: none;
    color: $text;
  }
}

b,
strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;

  margin: .67em 0;
}

img {
  vertical-align: middle;

  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

//hr line
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  margin-top: 20px;
  margin-bottom: 20px;

  border: {
    bottom: 0;
    left: 0;
    right: 0;
    top: 1px solid #eee;
  }
}

//forms

*:focus {
  outline: none;
}

button,
input,
select,
textarea {
  font: inherit;

  margin: 0;

  color: inherit;

  line-height: inherit;

}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  cursor: pointer;

  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;

  border: 0;
}

input {
  line-height: normal;
  -webkit-appearance: none;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  line-height: normal;

  margin: 1px 0 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-appearance: none;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

label {
  font-weight: bold;

  display: inline-block;

  max-width: 100%;
  margin-bottom: 5px;
}

input[type='file'] {
  display: block;
}

input[type='range'] {
  display: block;

  width: 100%;
}

select[multiple],
select[size] {
  height: auto;
}

input[type='file']:focus,
input[type='radio']:focus,
input[type='checkbox']:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input[type='radio'][disabled],
input[type='checkbox'][disabled],
input[type='radio'].disabled,
input[type='checkbox'].disabled {
  cursor: not-allowed;
}

//placeholder {
::-webkit-input-placeholder {
  color: #b3b3b3;
}

::-moz-placeholder {
  color: #b3b3b3;
}

:-moz-placeholder {
  color: #b3b3b3;
}

:-ms-input-placeholder {
  color: #b3b3b3;
}

textarea {
  overflow: auto;
}

[role='button'] {
  cursor: pointer;
}

//tables

table {
  border-spacing: 0;
  border-collapse: collapse;
}

td,
th {
  padding: 0;
}

//images
.img-responsive {
  display: block;

  max-width: 100%;
  height: auto;
}

//grid
.box {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.box-rubber {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.line {
  margin-right: -15px;
  margin-left: -15px;
}

.mb-1,
.pt-1,
.tb-1,
.ds-1,
.mb-2,
.pt-2,
.tb-2,
.ds-2,
.mb-3,
.pt-3,
.tb-3,
.ds-3,
.mb-4,
.pt-4,
.tb-4,
.ds-4,
.mb-5,
.pt-5,
.tb-5,
.ds-5,
.mb-6,
.pt-6,
.tb-6,
.ds-6,
.mb-7,
.pt-7,
.tb-7,
.ds-7,
.mb-8,
.pt-8,
.tb-8,
.ds-8,
.mb-9,
.pt-9,
.tb-9,
.ds-9,
.mb-10,
.pt-10,
.tb-10,
.ds-10,
.mb-11,
.pt-11,
.tb-11,
.ds-11,
.mb-12,
.pt-12,
.tb-12,
.ds-12 {
  position: relative;

  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.mb-1,
.mb-2,
.mb-3,
.mb-4,
.mb-5,
.mb-6,
.mb-7,
.mb-8,
.mb-9,
.mb-10,
.mb-11,
.mb-12 {
  float: left;
}

.mb-12 {
  width: 100%;
}

.mb-11 {
  width: 91.66666667%;
}

.mb-10 {
  width: 83.33333333%;
}

.mb-9 {
  width: 75%;
}

.mb-8 {
  width: 66.66666667%;
}

.mb-7 {
  width: 58.33333333%;
}

.mb-6 {
  width: 50%;
}

.mb-5 {
  width: 41.66666667%;
}

.mb-4 {
  width: 33.33333333%;
}

.mb-3 {
  width: 25%;
}

.mb-2 {
  width: 16.66666667%;
}

.mb-1 {
  width: 8.33333333%;
}

.mb-pull-12 {
  right: 100%;
}

.mb-pull-11 {
  right: 91.66666667%;
}

.mb-pull-10 {
  right: 83.33333333%;
}

.mb-pull-9 {
  right: 75%;
}

.mb-pull-8 {
  right: 66.66666667%;
}

.mb-pull-7 {
  right: 58.33333333%;
}

.mb-pull-6 {
  right: 50%;
}

.mb-pull-5 {
  right: 41.66666667%;
}

.mb-pull-4 {
  right: 33.33333333%;
}

.mb-pull-3 {
  right: 25%;
}

.mb-pull-2 {
  right: 16.66666667%;
}

.mb-pull-1 {
  right: 8.33333333%;
}

.mb-pull-0 {
  right: auto;
}

.mb-push-12 {
  left: 100%;
}

.mb-push-11 {
  left: 91.66666667%;
}

.mb-push-10 {
  left: 83.33333333%;
}

.mb-push-9 {
  left: 75%;
}

.mb-push-8 {
  left: 66.66666667%;
}

.mb-push-7 {
  left: 58.33333333%;
}

.mb-push-6 {
  left: 50%;
}

.mb-push-5 {
  left: 41.66666667%;
}

.mb-push-4 {
  left: 33.33333333%;
}

.mb-push-3 {
  left: 25%;
}

.mb-push-2 {
  left: 16.66666667%;
}

.mb-push-1 {
  left: 8.33333333%;
}

.mb-push-0 {
  left: auto;
}

.mb-offset-12 {
  margin-left: 100%;
}

.mb-offset-11 {
  margin-left: 91.66666667%;
}

.mb-offset-10 {
  margin-left: 83.33333333%;
}

.mb-offset-9 {
  margin-left: 75%;
}

.mb-offset-8 {
  margin-left: 66.66666667%;
}

.mb-offset-7 {
  margin-left: 58.33333333%;
}

.mb-offset-6 {
  margin-left: 50%;
}

.mb-offset-5 {
  margin-left: 41.66666667%;
}

.mb-offset-4 {
  margin-left: 33.33333333%;
}

.mb-offset-3 {
  margin-left: 25%;
}

.mb-offset-2 {
  margin-left: 16.66666667%;
}

.mb-offset-1 {
  margin-left: 8.33333333%;
}

.mb-offset-0 {
  margin-left: 0;
}

//animation

.fade {
  -webkit-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;

  opacity: 0;
}

.fade.in {
  opacity: 1;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

tr.collapse.in {
  display: table-row;
}

tbody.collapse.in {
  display: table-row-group;
}

.collapsing {
  position: relative;

  overflow: hidden;

  height: 0;

  -webkit-transition-timing-function: ease;
  -o-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: .35s;
  -o-transition-duration: .35s;
  transition-duration: .35s;
  -webkit-transition-property: height, visibility;
  -o-transition-property: height, visibility;
  transition-property: height, visibility;
}

//arrow down
.caret {
  display: inline-block;

  width: 0;
  height: 0;
  margin-left: 2px;

  vertical-align: middle;

  border-top: 4px dashed;
  border-top: 4px solid \9
;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

//dropdown
/*.dropup,
.dropdown {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dropdown-menu {
  font-size: 14px;

  position: absolute;
  z-index: 1000;
  top: 100%;
  left: 0;

  display: none;
  float: left;

  min-width: 160px;
  margin: 2px 0 0;
  padding: 5px 0;

  list-style: none;

  text-align: left;

  border: 1px solid rgba(0, 0, 0, .15);
  border-radius: 4px;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.dropdown-menu .divider {
  overflow: hidden;

  height: 1px;
  margin: 9px 0;

  background-color: #e5e5e5;
}

.dropdown-menu > li > a {
  font-weight: normal;
  line-height: 1.42857143;

  display: block;
  clear: both;

  padding: 3px 20px;

  white-space: nowrap;

  color: #333;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  text-decoration: none;

  color: #262626;
  background-color: #f5f5f5;
}

.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  text-decoration: none;

  color: #fff;
  outline: 0;
  background-color: #337ab7;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #777;
}

.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  !*filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);*!
  cursor: not-allowed;
  text-decoration: none;

  background: transparent none;
}

.open > .dropdown-menu {
  display: block;
}

.open > a {
  outline: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-header {
  font-size: 12px;
  line-height: 1.42857143;

  display: block;

  padding: 3px 20px;

  white-space: nowrap;

  color: #777;
}

.dropdown-backdrop {
  position: fixed;
  z-index: 990;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}

.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  content: '';

  border-top: 0;
  border-bottom: 4px dashed;
  border-bottom: 4px solid \9
;
}

.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;

  margin-bottom: 2px;
}

//navigation menu

.nav {
  margin-bottom: 0;
  padding-left: 0;

  list-style: none;
}

.nav > li {
  position: relative;

  display: block;
}

.nav > li > a {
  position: relative;

  display: block;

  padding: 10px 15px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;

  background-color: #eee;
}

.nav > li.disabled > a {
  color: #777;
}

.nav > li.disabled > a:hover,
.nav > li.disabled > a:focus {
  cursor: not-allowed;
  text-decoration: none;

  color: #777;
  background-color: transparent;
}

.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: #337ab7;
  background-color: #eee;
}

.nav .nav-divider {
  overflow: hidden;

  height: 1px;
  margin: 9px 0;

  background-color: #e5e5e5;
}

.nav > li > a > img {
  max-width: none;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  float: left;

  margin-bottom: -1px;
}

.nav-tabs > li > a {
  line-height: 1.42857143;

  margin-right: 2px;

  border: 1px solid transparent;
  border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eee #eee #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  cursor: default;

  color: #555;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  background-color: #fff;
}

.nav-tabs.nav-justified {
  width: 100%;

  border-bottom: 0;
}

.nav-tabs.nav-justified > li {
  float: none;
}

.nav-tabs.nav-justified > li > a {
  margin-bottom: 5px;

  text-align: center;
}

.nav-tabs.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

.nav-tabs.nav-justified > li > a {
  margin-right: 0;

  border-radius: 4px;
}

.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover,
.nav-tabs.nav-justified > .active > a:focus {
  border: 1px solid #ddd;
}

.nav-pills > li {
  float: left;
}

.nav-pills > li > a {
  border-radius: 4px;
}

.nav-pills > li + li {
  margin-left: 2px;
}

.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li + li {
  margin-top: 2px;
  margin-left: 0;
}

.nav-justified {
  width: 100%;
}

.nav-justified > li {
  float: none;
}

.nav-justified > li > a {
  margin-bottom: 5px;

  text-align: center;
}

.nav-justified > .dropdown .dropdown-menu {
  top: auto;
  left: auto;
}

.nav-tabs-justified {
  border-bottom: 0;
}

.nav-tabs-justified > li > a {
  margin-right: 0;

  border-radius: 4px;
}

.nav-tabs-justified > .active > a,
.nav-tabs-justified > .active > a:hover,
.nav-tabs-justified > .active > a:focus {
  border: 1px solid #ddd;
}

.tab-content > .tab-pane {
  display: none;
}

.tab-content > .active {
  display: block;
}

.nav-tabs .dropdown-menu {
  margin-top: -1px;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar {
  position: relative;

  min-height: 50px;
  margin-bottom: 20px;

  border: 1px solid transparent;
}

.navbar-collapse {
  overflow-x: visible;

  padding-right: 15px;
  padding-left: 15px;

  border-top: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);

  -webkit-overflow-scrolling: touch;
}

.navbar-collapse.in {
  overflow-y: auto;
}

.navbar-fixed-top .navbar-collapse,
.navbar-fixed-bottom .navbar-collapse {
  max-height: 340px;
}

.box > .navbar-header,
.box-rubber > .navbar-header,
.box > .navbar-collapse,
.box-rubber > .navbar-collapse {
  margin-right: -15px;
  margin-left: -15px;
}

.navbar-static-top {
  z-index: 1000;

  border-width: 0 0 1px;
}

.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  z-index: 1030;
  right: 0;
  left: 0;
}

.navbar-fixed-top {
  top: 0;

  border-width: 0 0 1px;
}

.navbar-fixed-bottom {
  bottom: 0;

  margin-bottom: 0;

  border-width: 1px 0 0;
}

.navbar-brand {
  font-size: 18px;
  line-height: 20px;

  float: left;

  height: 50px;
  padding: 15px 15px;
}

.navbar-brand:hover,
.navbar-brand:focus {
  text-decoration: none;
}

.navbar-brand > img {
  display: block;
}

.navbar-toggle {
  position: relative;

  float: right;

  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  padding: 9px 10px;

  border: 1px solid transparent;
  border-radius: 4px;
  background: transparent none;
}

.navbar-toggle:focus {
  outline: 0;
}

.navbar-toggle .icon-bar {
  display: block;

  width: 22px;
  height: 2px;

  border-radius: 1px;
}

.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-nav {
  margin: 7.5px -15px;
}

.navbar-nav > li > a {
  line-height: 20px;

  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-nav > li > .dropdown-menu {
  margin-top: 0;

  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar-fixed-bottom .navbar-nav > li > .dropdown-menu {
  margin-bottom: 0;

  border-radius: 4px 4px 0 0;
}

.navbar-btn {
  margin-top: 8px;
  margin-bottom: 8px;
}

.navbar-btn.btn-sm {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navbar-btn.btn-xs {
  margin-top: 14px;
  margin-bottom: 14px;
}

.navbar-text {
  margin-top: 15px;
  margin-bottom: 15px;
}

.main-menu {
  border-color: #e7e7e7;
  background-color: #f8f8f8;
}

.main-menu .navbar-brand {
  color: #777;
}

.main-menu .navbar-brand:hover,
.main-menu .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}

.main-menu .navbar-text {
  color: #777;
}

.main-menu .navbar-nav > li > a {
  color: #777;
}

.main-menu .navbar-nav > li > a:hover,
.main-menu .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}

.main-menu .navbar-nav > .active > a,
.main-menu .navbar-nav > .active > a:hover,
.main-menu .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #e7e7e7;
}

.main-menu .navbar-nav > .disabled > a,
.main-menu .navbar-nav > .disabled > a:hover,
.main-menu .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}

.main-menu .navbar-toggle {
  border-color: #ddd;
}

.main-menu .navbar-toggle:hover,
.main-menu .navbar-toggle:focus {
  background-color: #ddd;
}

.main-menu .navbar-toggle .icon-bar {
  background-color: #888;
}

.main-menu .navbar-collapse,
.main-menu .navbar-form {
  border-color: #e7e7e7;
}

.main-menu .navbar-nav > .open > a,
.main-menu .navbar-nav > .open > a:hover,
.main-menu .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
*/
//pagination

.pagination {
  display: inline-block;

  margin: 20px 0;
  padding-left: 0;

  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  line-height: 1.42857143;

  position: relative;

  float: left;

  margin-left: -1px;
  padding: 6px 12px;

  text-decoration: none;

  color: #337ab7;
  border: 1px solid #ddd;
  background-color: #fff;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;

  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  z-index: 2;

  color: #23527c;
  border-color: #ddd;
  background-color: #eee;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 3;

  cursor: default;

  color: #fff;
  border-color: #337ab7;
  background-color: #337ab7;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  cursor: not-allowed;

  color: #777;
  border-color: #ddd;
  background-color: #fff;
}

//modal

.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: none;
  overflow: hidden;

  outline: 0;

  -webkit-overflow-scrolling: touch;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.modal-dialog {
  position: relative;

  width: auto;
  margin: 10px;
}

.modal-content {
  position: relative;

  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.modal-backdrop {
  position: fixed;
  z-index: 1040;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: #000;
}

.modal-backdrop.fade {
  opacity: 0;

  filter: alpha(opacity=0);
}

.modal-backdrop.in {
  opacity: .5;

  filter: alpha(opacity=50);
}

.modal-header {
  padding: 15px;

  border-bottom: 1px solid #e5e5e5;
}

.modal-header .close {
  margin-top: -2px;
}

.modal-title {
  line-height: 1.42857143;

  margin: 0;
}

.modal-body {
  position: relative;

  padding: 15px;
}

.modal-footer {
  padding: 15px;

  text-align: right;

  border-top: 1px solid #e5e5e5;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;

  overflow: scroll;

  width: 50px;
  height: 50px;
}

.clearfix:before,
.clearfix:after,
.box:before,
.box:after,
.box-rubber:before,
.box-rubber:after,
.line:before,
.line:after,
.form-horizontal .form-group:before,
.form-horizontal .form-group:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-header:before,
.navbar-header:after,
.navbar-collapse:before,
.navbar-collapse:after,
.modal-header:before,
.modal-header:after,
.modal-footer:before,
.modal-footer:after {
  display: table;

  content: ' ';
}

.clearfix:after,
.box:after,
.box-rubber:after,
.line:after,
.form-horizontal .form-group:after,
.nav:after,
.navbar:after,
.navbar-header:after,
.navbar-collapse:after,
.modal-header:after,
.modal-footer:after {
  clear: both;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.invisible {
  visibility: hidden;
}

.text-hide {
  font: 0/0 a;

  color: transparent;
  border: 0;
  background-color: transparent;
  text-shadow: none;
}

.hidden {
  display: none !important;
}

//header
header {
  background: $blue;
}

//main navigation

//navigation in head of the page
.back-head {
  background: $b-gray;
  padding-bottom: 1px;
}
.navigation-head {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  li {
    display: inline-block;
    padding: 0;
    margin: 0;
    a {
      display: inline-block;
      padding: 7px 1px;
    }
    .head-search {
      margin-right: 26px;
    }
    .chosen-container {
      margin-left: 16px;
    }
    .chosen-container-single .chosen-single div {
      top: 8px;
      left: 16px;
    }
  }
}

//navigation logo
.navigation-logo {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  a {
    display: inline-block;
  }
}

//main navigation
.navigation-main {
  list-style: none;
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  a {
    display: inline-block;
  }
}


//fixes
.padding-right-fix {
  padding-right: 6px;
}