@media (max-device-width: 480px) and (orientation: landscape) {
    /*.navbar-fixed-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 200px;
    }*/
}

@media (max-width: 767px) {
    /*.navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-nav .open .dropdown-menu > li > a,
    .navbar-nav .open .dropdown-menu .dropdown-header {
        padding: 5px 15px 5px 25px;
    }
    .navbar-nav .open .dropdown-menu > li > a {
        line-height: 20px;
    }
    .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-nav .open .dropdown-menu > li > a:focus {
        background-image: none;
    }
    !**!
    .main-menu .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .main-menu .navbar-nav .open .dropdown-menu > li > a:hover,
    .main-menu .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
        background-color: transparent;
    }
    .main-menu .navbar-nav .open .dropdown-menu > .active > a,
    .main-menu .navbar-nav .open .dropdown-menu > .active > a:hover,
    .main-menu .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #555;
        background-color: #e7e7e7;
    }
    .main-menu .navbar-nav .open .dropdown-menu > .disabled > a,
    .main-menu .navbar-nav .open .dropdown-menu > .disabled > a:hover,
    .main-menu .navbar-nav .open .dropdown-menu > .disabled > a:focus {
        color: #ccc;
        background-color: transparent;
    }*/
    /**/
    .covert-mb {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .box {
        width: 750px;
    }
    /**/
    .pt-1,
    .pt-2,
    .pt-3,
    .pt-4,
    .pt-5,
    .pt-6,
    .pt-7,
    .pt-8,
    .pt-9,
    .pt-10,
    .pt-11,
    .pt-12 {
        float: left;
    }
    .pt-12 {
        width: 100%;
    }
    .pt-11 {
        width: 91.66666667%;
    }
    .pt-10 {
        width: 83.33333333%;
    }
    .pt-9 {
        width: 75%;
    }
    .pt-8 {
        width: 66.66666667%;
    }
    .pt-7 {
        width: 58.33333333%;
    }
    .pt-6 {
        width: 50%;
    }
    .pt-5 {
        width: 41.66666667%;
    }
    .pt-4 {
        width: 33.33333333%;
    }
    .pt-3 {
        width: 25%;
    }
    .pt-2 {
        width: 16.66666667%;
    }
    .pt-1 {
        width: 8.33333333%;
    }
    .pt-pull-12 {
        right: 100%;
    }
    .pt-pull-11 {
        right: 91.66666667%;
    }
    .pt-pull-10 {
        right: 83.33333333%;
    }
    .pt-pull-9 {
        right: 75%;
    }
    .pt-pull-8 {
        right: 66.66666667%;
    }
    .pt-pull-7 {
        right: 58.33333333%;
    }
    .pt-pull-6 {
        right: 50%;
    }
    .pt-pull-5 {
        right: 41.66666667%;
    }
    .pt-pull-4 {
        right: 33.33333333%;
    }
    .pt-pull-3 {
        right: 25%;
    }
    .pt-pull-2 {
        right: 16.66666667%;
    }
    .pt-pull-1 {
        right: 8.33333333%;
    }
    .pt-pull-0 {
        right: auto;
    }
    .pt-push-12 {
        left: 100%;
    }
    .pt-push-11 {
        left: 91.66666667%;
    }
    .pt-push-10 {
        left: 83.33333333%;
    }
    .pt-push-9 {
        left: 75%;
    }
    .pt-push-8 {
        left: 66.66666667%;
    }
    .pt-push-7 {
        left: 58.33333333%;
    }
    .pt-push-6 {
        left: 50%;
    }
    .pt-push-5 {
        left: 41.66666667%;
    }
    .pt-push-4 {
        left: 33.33333333%;
    }
    .pt-push-3 {
        left: 25%;
    }
    .pt-push-2 {
        left: 16.66666667%;
    }
    .pt-push-1 {
        left: 8.33333333%;
    }
    .pt-push-0 {
        left: auto;
    }
    .pt-offset-12 {
        margin-left: 100%;
    }
    .pt-offset-11 {
        margin-left: 91.66666667%;
    }
    .pt-offset-10 {
        margin-left: 83.33333333%;
    }
    .pt-offset-9 {
        margin-left: 75%;
    }
    .pt-offset-8 {
        margin-left: 66.66666667%;
    }
    .pt-offset-7 {
        margin-left: 58.33333333%;
    }
    .pt-offset-6 {
        margin-left: 50%;
    }
    .pt-offset-5 {
        margin-left: 41.66666667%;
    }
    .pt-offset-4 {
        margin-left: 33.33333333%;
    }
    .pt-offset-3 {
        margin-left: 25%;
    }
    .pt-offset-2 {
        margin-left: 16.66666667%;
    }
    .pt-offset-1 {
        margin-left: 8.33333333%;
    }
    .pt-offset-0 {
        margin-left: 0;
    }
    /**/
    /*.navbar-right .dropdown-menu {
        left: auto;
        right: 0;
    }
    .navbar-right .dropdown-menu-left {
        left: 0;
        right: auto;
    }
    !**!
    .nav-tabs.nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-tabs.nav-justified > li > a {
        margin-bottom: 0;
    }
    !**!
    .nav-tabs.nav-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs.nav-justified > .active > a,
    .nav-tabs.nav-justified > .active > a:hover,
    .nav-tabs.nav-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
    !**!
    .nav-justified > li {
        display: table-cell;
        width: 1%;
    }
    .nav-justified > li > a {
        margin-bottom: 0;
    }
    !**!
    .nav-tabs-justified > li > a {
        border-bottom: 1px solid #dddddd;
        border-radius: 4px 4px 0 0;
    }
    .nav-tabs-justified > .active > a,
    .nav-tabs-justified > .active > a:hover,
    .nav-tabs-justified > .active > a:focus {
        border-bottom-color: #ffffff;
    }
    !**!
    .navbar {
        border-radius: 4px;
    }
    !**!
    .navbar-header {
        float: left;
    }
    !**!
    .navbar-collapse {
        width: auto;
        border-top: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
    .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
    }
    .navbar-collapse.in {
        overflow-y: visible;
    }
    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-left: 0;
        padding-right: 0;
    }
    !**!
    .box > .navbar-header,
    .box-rubber > .navbar-header,
    .box > .navbar-collapse,
    .box-rubber > .navbar-collapse {
        margin-right: 0;
        margin-left: 0;
    }
    !**!
    .navbar-static-top {
        border-radius: 0;
    }
    !**!
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        border-radius: 0;
    }
    !**!
    .navbar > .box .navbar-brand,
    .navbar > .box-rubber .navbar-brand {
        margin-left: -15px;
    }
    !**!
    .navbar-toggle {
        display: none;
    }
    !**!
    .navbar-nav {
        float: left;
        margin: 0;
    }
    .navbar-nav > li {
        float: left;
    }
    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    !**!
    .navbar-text {
        float: left;
        margin-left: 15px;
        margin-right: 15px;
    }
    !**!
    .navbar-left {
        float: left !important;
    }
    .navbar-right {
        float: right !important;
        margin-right: -15px;
    }
    .navbar-right ~ .navbar-right {
        margin-right: 0;
    }
    !**!*/
    .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }
    .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }
    .modal-sm {
        width: 300px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .covert-pt {
        display: none !important;
    }
}

@media (min-width: 992px) {


    /**/
    .tb-1,
    .tb-2,
    .tb-3,
    .tb-4,
    .tb-5,
    .tb-6,
    .tb-7,
    .tb-8,
    .tb-9,
    .tb-10,
    .tb-11,
    .tb-12 {
        float: left;
    }
    .tb-12 {
        width: 100%;
    }
    .tb-11 {
        width: 91.66666667%;
    }
    .tb-10 {
        width: 83.33333333%;
    }
    .tb-9 {
        width: 75%;
    }
    .tb-8 {
        width: 66.66666667%;
    }
    .tb-7 {
        width: 58.33333333%;
    }
    .tb-6 {
        width: 50%;
    }
    .tb-5 {
        width: 41.66666667%;
    }
    .tb-4 {
        width: 33.33333333%;
    }
    .tb-3 {
        width: 25%;
    }
    .tb-2 {
        width: 16.66666667%;
    }
    .tb-1 {
        width: 8.33333333%;
    }
    .tb-pull-12 {
        right: 100%;
    }
    .tb-pull-11 {
        right: 91.66666667%;
    }
    .tb-pull-10 {
        right: 83.33333333%;
    }
    .tb-pull-9 {
        right: 75%;
    }
    .tb-pull-8 {
        right: 66.66666667%;
    }
    .tb-pull-7 {
        right: 58.33333333%;
    }
    .tb-pull-6 {
        right: 50%;
    }
    .tb-pull-5 {
        right: 41.66666667%;
    }
    .tb-pull-4 {
        right: 33.33333333%;
    }
    .tb-pull-3 {
        right: 25%;
    }
    .tb-pull-2 {
        right: 16.66666667%;
    }
    .tb-pull-1 {
        right: 8.33333333%;
    }
    .tb-pull-0 {
        right: auto;
    }
    .tb-push-12 {
        left: 100%;
    }
    .tb-push-11 {
        left: 91.66666667%;
    }
    .tb-push-10 {
        left: 83.33333333%;
    }
    .tb-push-9 {
        left: 75%;
    }
    .tb-push-8 {
        left: 66.66666667%;
    }
    .tb-push-7 {
        left: 58.33333333%;
    }
    .tb-push-6 {
        left: 50%;
    }
    .tb-push-5 {
        left: 41.66666667%;
    }
    .tb-push-4 {
        left: 33.33333333%;
    }
    .tb-push-3 {
        left: 25%;
    }
    .tb-push-2 {
        left: 16.66666667%;
    }
    .tb-push-1 {
        left: 8.33333333%;
    }
    .tb-push-0 {
        left: auto;
    }
    .tb-offset-12 {
        margin-left: 100%;
    }
    .tb-offset-11 {
        margin-left: 91.66666667%;
    }
    .tb-offset-10 {
        margin-left: 83.33333333%;
    }
    .tb-offset-9 {
        margin-left: 75%;
    }
    .tb-offset-8 {
        margin-left: 66.66666667%;
    }
    .tb-offset-7 {
        margin-left: 58.33333333%;
    }
    .tb-offset-6 {
        margin-left: 50%;
    }
    .tb-offset-5 {
        margin-left: 41.66666667%;
    }
    .tb-offset-4 {
        margin-left: 33.33333333%;
    }
    .tb-offset-3 {
        margin-left: 25%;
    }
    .tb-offset-2 {
        margin-left: 16.66666667%;
    }
    .tb-offset-1 {
        margin-left: 8.33333333%;
    }
    .tb-offset-0 {
        margin-left: 0;
    }
    /**/
    .modal-lg {
        width: 900px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .covert-tb {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .box {
        width: 1208px;
    }
    /**/
    .ds-1,
    .ds-2,
    .ds-3,
    .ds-4,
    .ds-5,
    .ds-6,
    .ds-7,
    .ds-8,
    .ds-9,
    .ds-10,
    .ds-11,
    .ds-12 {
        float: left;
    }
    .ds-12 {
        width: 100%;
    }
    .ds-11 {
        width: 91.66666667%;
    }
    .ds-10 {
        width: 83.33333333%;
    }
    .ds-9 {
        width: 75%;
    }
    .ds-8 {
        width: 66.66666667%;
    }
    .ds-7 {
        width: 58.33333333%;
    }
    .ds-6 {
        width: 50%;
    }
    .ds-5 {
        width: 41.66666667%;
    }
    .ds-4 {
        width: 33.33333333%;
    }
    .ds-3 {
        width: 25%;
    }
    .ds-2 {
        width: 16.66666667%;
    }
    .ds-1 {
        width: 8.33333333%;
    }
    .ds-pull-12 {
        right: 100%;
    }
    .ds-pull-11 {
        right: 91.66666667%;
    }
    .ds-pull-10 {
        right: 83.33333333%;
    }
    .ds-pull-9 {
        right: 75%;
    }
    .ds-pull-8 {
        right: 66.66666667%;
    }
    .ds-pull-7 {
        right: 58.33333333%;
    }
    .ds-pull-6 {
        right: 50%;
    }
    .ds-pull-5 {
        right: 41.66666667%;
    }
    .ds-pull-4 {
        right: 33.33333333%;
    }
    .ds-pull-3 {
        right: 25%;
    }
    .ds-pull-2 {
        right: 16.66666667%;
    }
    .ds-pull-1 {
        right: 8.33333333%;
    }
    .ds-pull-0 {
        right: auto;
    }
    .ds-push-12 {
        left: 100%;
    }
    .ds-push-11 {
        left: 91.66666667%;
    }
    .ds-push-10 {
        left: 83.33333333%;
    }
    .ds-push-9 {
        left: 75%;
    }
    .ds-push-8 {
        left: 66.66666667%;
    }
    .ds-push-7 {
        left: 58.33333333%;
    }
    .ds-push-6 {
        left: 50%;
    }
    .ds-push-5 {
        left: 41.66666667%;
    }
    .ds-push-4 {
        left: 33.33333333%;
    }
    .ds-push-3 {
        left: 25%;
    }
    .ds-push-2 {
        left: 16.66666667%;
    }
    .ds-push-1 {
        left: 8.33333333%;
    }
    .ds-push-0 {
        left: auto;
    }
    .ds-offset-12 {
        margin-left: 100%;
    }
    .ds-offset-11 {
        margin-left: 91.66666667%;
    }
    .ds-offset-10 {
        margin-left: 83.33333333%;
    }
    .ds-offset-9 {
        margin-left: 75%;
    }
    .ds-offset-8 {
        margin-left: 66.66666667%;
    }
    .ds-offset-7 {
        margin-left: 58.33333333%;
    }
    .ds-offset-6 {
        margin-left: 50%;
    }
    .ds-offset-5 {
        margin-left: 41.66666667%;
    }
    .ds-offset-4 {
        margin-left: 33.33333333%;
    }
    .ds-offset-3 {
        margin-left: 25%;
    }
    .ds-offset-2 {
        margin-left: 16.66666667%;
    }
    .ds-offset-1 {
        margin-left: 8.33333333%;
    }
    .ds-offset-0 {
        margin-left: 0;
    }
    /**/
    .covert-ds {
        display: none !important;
    }
}

@-ms-viewport {
    width: device-width;
}