@font-face {
    font-family: 'Elusive-Icons';
    src: url('../fonts/elusiveicons-webfont.eot?v=2.0.0');
    src: url('../fonts/elusiveicons-webfont.eot?#iefix&v=2.0.0') format('embedded-opentype'), url('../fonts/elusiveicons-webfont.woff?v=2.0.0') format('woff'), url('../fonts/elusiveicons-webfont.ttf?v=2.0.0') format('truetype'), url('../fonts/elusiveicons-webfont.svg?v=2.0.0#elusiveiconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.el {
    display: inline-block;
    font: normal normal normal 14px/1 'Elusive-Icons';
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.el-arrow-down:before {
    content: "\f10a";
}

.el-arrow-left:before {
    content: "\f10b";
}

.el-arrow-right:before {
    content: "\f10c";
}

.el-arrow-up:before {
    content: "\f10d";
}
.el-caret-down:before {
    content: "\f125";
}

.el-caret-left:before {
    content: "\f126";
}

.el-caret-right:before {
    content: "\f127";
}

.el-caret-up:before {
    content: "\f128";
}
.el-chevron-down:before {
    content: "\f12d";
}

.el-chevron-left:before {
    content: "\f12e";
}

.el-chevron-right:before {
    content: "\f12f";
}

.el-chevron-up:before {
    content: "\f130";
}
.el-facebook:before {
    content: "\f152";
}
.el-skype:before {
    content: "\f1f4";
}