body#index_page {
    /*background: url(../img/DMSU_Home_Slide_1.jpg);*/
    /*background-size: cover;*/
    background-position: center top;
    background-repeat: no-repeat;
    /*height: 2889px;*/
}

body#service_page {
    background: url(../img/DMSU_Servise_7_10.jpg);
    /*background-size: cover;*/
    background-position: center top;
    background-repeat: no-repeat;
    height: 2763px;
}


/* sections */

.first_section {
    background: url(../img2/DMSU_Home_pravki_01.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 664px;
}

.second_section {
    background: url(../img2/DMSU_Home_pravki_02.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 238px;
    display: none;
}



.third_section {
    background: url(../img2/DMSU_Home_pravki_11_10_01_02.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    height: 2051px;
}

.fourth_section {
    position: absolute;
    background: url(../img2/DMSU_Home_Modal_2_03.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    width: 1170px;
    height: 550px;
    top: 133px;
    left: 45px;
    right: 45px;
    z-index: 400;
    -webkit-box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 25px 0px rgba(0, 0, 0, 0.2);
    display: none;
}

.visible {
    display: block;
}


/* end sections */

.container {
    width: 992px;
}

.relative {
    position: relative;
}

.relative div {
    position: absolute;
    /*background: rgba(255, 0, 0, 0.1);
    outline: 1px solid red;*/
}

.red_border {
    outline: 1px solid rgba(107, 107, 107, 0.5);
    -webkit-box-shadow: 0px 0px 20px 0px rgba(107, 107, 107, .5);
    -moz-box-shadow: 0px 0px 20px 0px rgba(107, 107, 107, .5);
    box-shadow: 0px 0px 20px 0px rgba(107, 107, 107, .5);
}

.relative div:hover {
    background-size: cover;
    cursor: pointer;
}

.map {
    width: 43px;
    height: 43px;
    top: 59px;
    right: -98px;
}

.map:hover {
    background: url(../img/hovers/01-Map.jpg);
}

.poshuk {
    width: 264px;
    height: 57px;
    top: 218px;
    right: -77px;
}

.poshuk:hover {
    background: url(../img/hovers/02-Poshuk.jpg);
}

.allservice {
    width: 189px;
    height: 27px;
    top: 396px;
    right: -103px;
}

.allservice:hover {
    background: url(../img/hovers/03-allservice.jpg);
}

.checkpass {
    width: 258px;
    height: 234px;
    top: 439px;
    left: -79px;
    background: url(../img/hovers/04-checkpass.jpg);
}

.checkpass:hover {
    background: url(../img/hovers/04-checkpass.jpg);
}

.backcheck {
    background: none;
}

.showother {
    width: 244px;
    height: 57px;
    top: 56px;
    right: 361px;
}

.showother:hover {
    background: url(../img/hovers/05-showother.jpg);
}

.allnews {
    width: 184px;
    height: 20px;
    top: 259px;
    right: -103px;
}

.allnews:hover {
    background: url(../img/hovers/06-allnews.jpg);
}

.allquest {
    width: 222px;
    height: 20px;
    top: 880px;
    right: -103px;
}

.allquest:hover {
    background: url(../img/hovers/17-allquest.jpg);
}

.new {
    width: 630px;
    height: 220px;
    top: 323px;
    right: -103px;
}

.new:hover {
    background: url(../img/hovers/07-new.jpg);
}

.importantnew {
    width: 488px;
    height: 220px;
    top: 324px;
    left: -109px;
}

.importantnew:hover {
    background: url(../img/hovers/08-importnatnew.jpg);
}

.passtab {
    width: 331px;
    height: 57px;
    top: 945px;
    right: 376px;
}

.passtab:hover {
    background: url(../img/hovers/09-passtab.jpg);
}

.questtab {
    width: 268px;
    height: 57px;
    top: 945px;
    right: 89px;
}

.questtab:hover {
    background: url(../img/hovers/10-questtab.jpg);
}

.dontfind {
    width: 246px;
    height: 22px;
    top: 1233px;
    left: -86px;
}

.dontfind:hover {
    background: url(../img/hovers/11-dontfind.jpg);
}

.portal {
    width: 185px;
    height: 26px;
    top: 1797px;
    right: 282px;
}

.portal:hover {
    background: url(../img/hovers/12-portal.jpg);
}

.fb {
    width: 24px;
    height: 24px;
    top: 1823px;
    left: 238px;
}

.fb:hover {
    background: url(../img/hovers/13-fb.jpg);
}

.office {
    width: 242px;
    height: 46px;
    top: 1911px;
    left: -79px;
}

.office:hover {
    background: url(../img/hovers/14-office.jpg);
}

.select {
    width: 408px;
    height: 205px;
    top: 218px;
    left: 348px;
}

.select:hover {
    background: url(../img/hovers/15-select.jpg);
}

.electron {
    width: 258px;
    height: 234px;
        top: 439px;
    right: 491px;
}

.electron:hover {
    background: url(../img/hovers/16-electro.jpg);
}

/**/

.close {
    width: 45px;
    height: 45px;
    top: 44px;
    right: -78px;
}

.close:hover {
    background: url(../img2/18-close.jpg);
}

.search {
    width: 237px;
    height: 44px;
    top: 45px;
    right: -22px;
}

.search:hover {
    background: url(../img2/19-search.jpg);
}

.adress {
    width: 518px;
    height: 81px;
    top: 137px;
    left: -78px;
}

.adress:hover {
    background: url(../img2/20-adress.jpg);
}


/**/

#pidkazka {
    position: fixed;
    background: #6430dd;
    color: #fff;
    border-radius: 50%;
    bottom: 15px;
    right: 15px;
    cursor: pointer;
    width: 40px;
    height: 40px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    text-align: center;
    font-weight: 700;
    padding-top: 10px;
}

#pidkazka:hover {
    background: #f39;
}