/*ICON 1 STYLE*/
.icon1-cls-1, .icon1-cls-2, .icon1-cls-3, .icon1-cls-4 {
  fill: none;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

.icon1-cls-1, .icon1-cls-2 {
  stroke: #000;
}

.icon1-cls-1, .icon1-cls-4, .icon1-cls-5 {
  stroke-miterlimit: 10;
}

.icon1-cls-2, .icon1-cls-3 {
  stroke-linejoin: round;
}

.icon1-cls-3, .icon1-cls-4, .icon1-cls-5 {
  stroke: #f3b81a;
}

.icon1-cls-5 {
  fill: #f3b81a;
}

@-webkit-keyframes scaling {
  0% {
    -webkit-transform: scale(1); /** Chrome & Safari **/
  }
  25% {
    -webkit-transform: scale(0.7); /** Chrome & Safari **/
  }
  60% {
    -webkit-transform: scale(0.7); /** Chrome & Safari **/
  }
  100% {
    -webkit-transform: scale(1); /** Chrome & Safari **/
  }
}

@-moz-keyframes scaling {
  0% {
    -moz-transform: scale(1); /** Firefox **/
  }
  25% {
    -moz-transform: scale(0.7); /** Firefox **/
  }
  60% {
    -moz-transform: scale(0.7); /** Firefox **/
  }
  100% {
    -moz-transform: scale(1); /** Firefox **/
  }
}

@-o-keyframes scaling {
  0% {
    -o-transform: scale(1); /** Opera **/
  }
  25% {
    -o-transform: scale(0.7); /** Opera **/
  }
  60% {
    -o-transform: scale(0.7); /** Opera **/
  }
  100% {
    -o-transform: scale(1); /** Opera **/
  }
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(1); /** Chrome & Safari **/
    -o-transform: scale(1); /** Opera **/
    -moz-transform: scale(1); /** Firefox **/
  }
  25% {
    -webkit-transform: scale(0.7); /** Chrome & Safari **/
    -o-transform: scale(0.7); /** Opera **/
    -moz-transform: scale(0.7); /** Firefox **/
  }
  60% {
    -webkit-transform: scale(0.7); /** Chrome & Safari **/
    -o-transform: scale(0.7); /** Opera **/
    -moz-transform: scale(0.7); /** Firefox **/
  }
  100% {
    -webkit-transform: scale(1); /** Chrome & Safari **/
    -o-transform: scale(1); /** Opera **/
    -moz-transform: scale(1); /** Firefox **/
  }
}

@-webkit-keyframes transforming {
  0% {
    -webkit-transform: rotate(0deg); /** Chrome & Safari **/
  }
  50% {
    -webkit-transform: translate(20%, 20%) rotate(45deg); /** Chrome & Safari **/
  }
  80% {
    -webkit-transform: rotate(0deg); /** Chrome & Safari **/
  }
  100% {
    -webkit-transform: rotate(0deg); /** Chrome & Safari **/
  }
}

@-moz-keyframes transforming {
  0% {
    -moz-transform: rotate(0deg); /** Firefox **/
  }
  50% {
    -moz-transform: translate(20%, 20%) rotate(45deg); /** Firefox **/
  }
  80% {
    -moz-transform: rotate(0deg); /** Firefox **/
  }
  100% {
    -moz-transform: rotate(0deg); /** Firefox **/
  }
}

@-o-keyframes transforming {
  0% {
    -o-transform: rotate(0deg); /** Opera **/
  }
  50% {
    -o-transform: translate(20%, 20%) rotate(45deg); /** Opera **/
  }
  80% {
    -o-transform: rotate(0deg); /** Opera **/
  }
  100% {
    -o-transform: rotate(0deg); /** Opera **/
  }
}

@keyframes transforming {
  0% {
    -webkit-transform: rotate(0deg); /** Chrome & Safari **/
    -o-transform: rotate(0deg); /** Opera **/
    -moz-transform: rotate(0deg); /** Firefox **/
  }
  50% {
    -webkit-transform: translate(17px, 17px) rotate(45deg); /** Chrome & Safari **/
    -o-transform: translate(17px, 17px) rotate(45deg); /** Opera **/
    -moz-transform: translate(17px, 17px) rotate(45deg); /** Firefox **/
  }
  80% {
    -webkit-transform: rotate(0deg); /** Chrome & Safari **/
    -o-transform: rotate(0deg); /** Opera **/
    -moz-transform: rotate(0deg); /** Firefox **/
  }
  100% {
    -webkit-transform: rotate(0deg); /** Chrome & Safari **/
    -o-transform: rotate(0deg); /** Opera **/
    -moz-transform: rotate(0deg); /** Firefox **/
  }
}

.loop {
  -webkit-transform-origin: 64px 18px;
  -moz-transform-origin: 64px 18px;
  -o-transform-origin: 64px 18px;
  -ms-transform-origin: 64px 18px;
}

.people {
  -webkit-transform-origin: 42px 20px;
  -moz-transform-origin: 42px 20px;
  -o-transform-origin: 42px 20px;
  -ms-transform-origin: 42px 20px;
}

.service-item1:hover .loop {
  -webkit-animation: transforming 2s; /* Safari 4+ */
  -moz-animation: transforming 2s; /* Fx 5+ */
  -o-animation: transforming 2s; /* Opera 12+ */
  animation: transforming 2s; /* IE 10+, Fx 29+ */
}

.service-item1:hover .people {
  -webkit-animation: scaling 2s; /* Safari 4+ */
  -moz-animation: scaling 2s; /* Fx 5+ */
  -o-animation: scaling 2s; /* Opera 12+ */
  animation: scaling 2s; /* IE 10+, Fx 29+ */
}

.icon-mobile {
  display: none;
}

@media only screen and (max-width: 768px) {
  .icon-mobile {
    display: block;
  }
  .icon-show {
    display: none;
    @include transition;
  }
  .icon-hide {
    display: none;
  }
}