/* ICON 1 STYLE */

.icon1-cls-1, .icon1-cls-2, .icon1-cls-3, .icon1-cls-4 {
  fill: none;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

.icon1-cls-1, .icon1-cls-2 {
  stroke: #000;
}

.icon1-cls-1, .icon1-cls-4, .icon1-cls-5 {
  stroke-miterlimit: 10;
}

.icon1-cls-2, .icon1-cls-3 {
  stroke-linejoin: round;
}

.icon1-cls-3, .icon1-cls-4, .icon1-cls-5 {
  stroke: #f3b81a;
}

.icon1-cls-5 {
  fill: #f3b81a;
}

@keyframes scaling {
  0% {
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1); 
  }
  25% {
    -webkit-transform: scale(0.7); 
    -o-transform: scale(0.7); 
    transform: scale(0.7); 
    -ms-transform: scale(0.7); 
    -moz-transform: scale(0.7); 
  }
  60% {
    -webkit-transform: scale(0.7); 
    -o-transform: scale(0.7); 
    -moz-transform: scale(0.7); 
    transform: scale(0.7); 
    -ms-transform: scale(0.7); 
  }
  100% {
    -webkit-transform: scale(1); 
    -o-transform: scale(1); 
    -moz-transform: scale(1); 
    transform: scale(1); 
    -ms-transform: scale(1); 
  }
}

@keyframes transforming {
  0% {
    -webkit-transform: rotate(0deg); 
    -o-transform: rotate(0deg); 
    -moz-transform: rotate(0deg); 
    -ms-transform: rotate(0deg); 
    transform: rotate(0deg); 
  }
  50% {
    -webkit-transform: translate(17px, 17px) rotate(45deg); 
    -o-transform: translate(17px, 17px) rotate(45deg); 
    -moz-transform: translate(17px, 17px) rotate(45deg); 
    -ms-transform: translate(17px, 17px) rotate(45deg); 
    transform: translate(17px, 17px) rotate(45deg); 
  }
  80% {
    -webkit-transform: rotate(0deg); 
    -o-transform: rotate(0deg); 
    -moz-transform: rotate(0deg); 
    -ms-transform: rotate(0deg); 
    transform: rotate(0deg); 
  }
  100% {
    -webkit-transform: rotate(0deg); 
    -o-transform: rotate(0deg); 
    -moz-transform: rotate(0deg); 
    -ms-transform: rotate(0deg); 
    transform: rotate(0deg); 
  }
}

.loop {
  -webkit-transform-origin: 64px 18px;
  -moz-transform-origin: 64px 18px;
  -o-transform-origin: 64px 18px;
  -ms-transform-origin: 64px 18px;
  transform-origin: 64px 18px;
}

.people {
  -webkit-transform-origin: 42px 20px;
  -moz-transform-origin: 42px 20px;
  -o-transform-origin: 42px 20px;
  -ms-transform-origin: 42px 20px;
  transform-origin: 42px 20px;
}

.service-item1:hover .loop {
  -webkit-animation: transforming 2s; 
  -moz-animation: transforming 2s; 
  -o-animation: transforming 2s; 
  -ms-animation: transforming 2s; 
  animation: transforming 2s; 
}

.service-item1:hover .people {
  -webkit-animation: scaling 2s; 
  -moz-animation: scaling 2s; 
  -o-animation: scaling 2s; 
  -ms-animation: scaling 2s; 
  animation: scaling 2s; 
}

.icon-mobile {
  display: none;
}

@media only screen and (max-width: 1199px) {
  .icon-mobile {
    display: block;
  }
  .icon-show {
    display: none;
    @include transition;
  }
  .icon-hide {
    display: none;
  }
}

.ie-icon {
  .icon-mobile {
    display: block;
  }
  .icon-show {
    display: none;
    @include transition;
  }
  .icon-hide {
    display: none;
  }
}