/*logo*/
.logo {
  opacity: 0;
  width: 87.5%;
}
.logo-cls-1, .logo-cls-2 {
  fill: none;
  stroke: #fff;
  stroke-width: 4.25px;
}

.logo-cls-1, .logo-cls-2, .logo-cls-6 {
  stroke-miterlimit: 22.93;
}

.logo-cls-1, .logo-cls-3, .logo-cls-4, .logo-cls-5, .logo-cls-6, .logo-cls-7 {
  fill-rule: evenodd;
}

.logo-cls-3 {
  fill: #2e4a9d;
}

.logo-cls-4 {
  fill: #1b2553;
}

.logo-cls-5 {
  fill: #f5c619;
}

.logo-cls-6 {
  fill: #fcee23;
  stroke: #231f20;
  stroke-width: 0.22px;
}

.logo-cls-7 {
  fill: #2e368f;
}

@-webkit-keyframes rotateArrows {
  0% {
    -webkit-transform: rotate(0deg); /** Chrome & Safari **/
  }
  50% {
    -webkit-transform: rotate(180deg); /** Chrome & Safari **/
  }
  100% {
    -webkit-transform: rotate(360deg); /** Chrome & Safari **/
  }
}

@-moz-keyframes rotateArrows {
  0% {
    -moz-transform: rotate(0deg); /** Firefox **/
  }
  50% {
    -moz-transform: rotate(180deg); /** Firefox **/
  }
  100% {
    -moz-transform: rotate(360deg); /** Firefox **/
  }
}

@-o-keyframes rotateArrows {
  0% {
    -o-transform: rotate(0deg); /** Opera **/
  }
  50% {
    -o-transform: rotate(180deg); /** Opera **/
  }
  100% {
    -o-transform: rotate(360deg); /** Opera **/
  }
}

@keyframes rotateArrows {
  0% {
    -webkit-transform: rotate(0deg); /** Chrome & Safari **/
    -o-transform: rotate(0deg); /** Opera **/
    -moz-transform: rotate(0deg); /** Firefox **/
  }
  50% {
    -webkit-transform: rotate(180deg); /** Chrome & Safari **/
    -o-transform: rotate(180deg); /** Opera **/
    -moz-transform: rotate(180deg); /** Firefox **/
  }
  100% {
    -webkit-transform: rotate(360deg); /** Chrome & Safari **/
    -o-transform: rotate(360deg); /** Opera **/
    -moz-transform: rotate(360deg); /** Firefox **/
  }
}

.arrows {
  -webkit-transform: rotateY(90deg); /** Chrome & Safari **/
  -o-transform: rotateY(90deg); /** Opera **/
  -moz-transform: rotateY(90deg); /** Firefox **/
  -webkit-transform-origin: 200px 213px;
  -moz-transform-origin: 200px 213px;
  -o-transform-origin: 200px 213px;
  -ms-transform-origin: 200px 213px;
}

.nav-logo:hover .arrows {
  -webkit-animation: rotateArrows 2s forwards; /* Safari 4+ */
  -moz-animation: rotateArrows 2s forwards; /* Fx 5+ */
  -o-animation: rotateArrows 2s forwards; /* Opera 12+ */
  animation: rotateArrows 2s forwards; /* IE 10+, Fx 29+ */
}

.nav-logo:hover img {
  opacity: 0;
}

.nav-logo:hover .logo {
  opacity: 1;
}